@import 'nib'

ipadheight = 672px;
ipadwidth = 1024px;
imgheight = 592px;
imgwidth = 540px;
leftwidth = ipadwidth/2px + 150px;
rightwidth = ipadwidth/2px - 150px;

.create-screen {
	height:100%;
	position:relative;
	overflow:hidden;
	ipad();
	background-position:bottom;
	background-color:transparent;
	background-image:url('/create-bg.jpg');

	.title{
		background-color:#3FA9F5;
		height:75px;
		color:white;
		font-size:50px;
		line-height:75px;
		padding:0px 20px;
		font-family:'MayonaiseCondRegular';
	}
	
	.left {
		float: left;
		width: leftwidth;
		height: imgheight;
		background-color: transparent;
		background-image: url("/create-form.png");
	}
	.right {
		float: left;
		width: rightwidth;
		height: imgheight;
	}
	.input-area{
		margin-left: 72px;
		margin-top: 74px;
		padding: 30px;
		width: 430px;
		height: 385px;
		position: relative;
		div, input{
			font-size:18px;
			//line-height:36px;
		}

		input, textarea, option, select {
			text-indent:10px;
			font-size:18px;
			background-color: rgba(#000, 0.25);
			box-shadow: inset 0 0px 8px 0px #444;
			border:none;
			font-family:'arial';
			resize: none;
			display: block;
			padding:2px 0px;
			width: 200px;
			margin-left: 215px
			margin-top: 30px;
			margin-bottom: 15px;
		}
		.upload_val{
				display: none;
			}
		.field{
			
			#add-rule{
				width:275px;
				margin: 0 auto;
			}
			.upload{
				cursor: pointer;
				height: height;
				width: auto;
				border: 0px;
				border-radius: 5px;
				text-align: center;
				line-height: 35px;
				padding: 0px 9px;
				box-shadow: 0 0px 15px 3px #000;
				background-color: rgba(#000000, 0.25);
			}
			.error{
					box-shadow: inset 0 0 15px red;
			}
		}
		.text{
			font-family:'WisdomScript';
			width:39%;
			float:left;
			line-height:height;
			text-align:right;
		}
		.textarea-field{
			height:90px;
			textarea{
				padding-top:5px;
				height:90px;
			}
	}
		.button{
			cursor:pointer;
			height: 30px;
			width: 30px;
			background-size: 100%;
			position: relative;

		}

	}
}