@import 'nib';
@import '../common/common.styl';

/**
 * Mixins
 */

table-rows() {
	&:nth-child(even) { background: rgba(black, .05) }
	&:nth-child(odd) { background: rgba(black, .15) }
}

level() {
	position: absolute; 
	bottom: 0;
	size = 43px;
	height: size;
	width: size;
	border-radius: 50%;
	font: 25px/46px 'Fresca';
	color: #FFF;
	text-shadow: 1px 1px 0 rgba(black, .5);
	text-align: center;
	background: red;
	border: 4px solid #FFF;
	box-shadow: 0 0 10px rgba(black, .7);
	// box-shadow: 0 0 5px black, inset 1px 1px 0 rgba(white, .5), inset -1px -1px 0 rgba(black, .5);			
}

toggleButton() {
	cursor: pointer;
	box-shadow: 0 0 3px rgba(black, .8), inset 1px 1px 0 rgba(white, .5), inset -1px -1px 0 rgba(black, .5);
	border-radius: 4px;
	padding: 0 10px;
	&:hover {
		box-shadow: 0 0 5px rgba(black, .8), inset 1px 1px 0 rgba(white, .5), inset -1px -1px 0 rgba(black, .5);
	}
	&:active, &.active {
		box-shadow: 0 0 3px rgba(black, .8), inset 1px 1px 0 rgba(black, .3), inset 0 0 7px rgba(black, .5);	
	}
}

woodSides() {
	&:before, &:after {
		position: absolute;
		// top: 141px;
		z-index: 1;
		left: 0;
		content: '';
		height: 100%;
		border-left: 10px solid #42210B;
		width: 7px;
		background: #603813;
	}

	&:after {
		left: auto;
		right: 0;
		border-left: 0;
		border-right: 10px solid #42210B;
	}
}

red = #D31F2C;
blue = #2AABE2;

red-button() {
	background-image: url('/app!decks/img/red-button.png');
	bottom: 10px;
	width: 160px;
	height: 80px;
	text-align: center;
	font: 40px/85px "Fresca"
	color: #FFF;
	text-shadow: -1px -1px 0 rgba(black, .5);
	cursor: pointer;
	&:hover {
		background-position: 0px 81px;
		text-shadow: 1px 1px 0 rgba(black, .5);
	}
	&:active{
		bottom: 9px;
		text-shadow: -1px -1px 0 rgba(black, .5);
	}
}

wood-button() {
	font: 35px/73px "Nuku Nuku";
	width: 198px;
	height: 70px;
	background: url("/img/wood-button.png");
	text-align: center;
	color: #9E7850;
	text-shadow: -1px -1px 0 rgba(black, .5);
	cursor: pointer;
	&:hover {
		background-position: 0px 70px;
		text-shadow: 1px 1px 0 rgba(black, .5);
	}
	&:active{
		text-shadow: -1px -1px 0 rgba(black, .5);
	}
}

back-button() {
	background-image: url('/img/back-button.png');
	position: absolute;
	size = 64px;
	height: size;
	width: size;
	left: 10px;
	bottom: 10px;
	box-shadow: 0 0 20px #333, inset 1px 1px 0 rgba(white, .5);
	border-radius: 50%;
	cursor: pointer; 
	background-position: -1px -1px;
	&:hover{
		background-position: -1px -76px;
	}
	&:active {
		bottom: 9px;
		background-position: -1px -1px;
	}
}

absoluteCenter(size) {
	height: size;
	width: size;
	top: 50%;
	margin-top: (size/-2);
	left: 50%;
	margin-left: (size/-2);
}



