/* CSS declarations go here */
body {
	font-family: arial;
}

/*.deck {
	z-index:2;
	cursor: pointer;
}

.deck img {
	width: 200px;
	height: 250px;
}*/

.deck-title {
	text-align: center;
	margin-bottom: 2px;
}

.card img {
	border-radius:8px;
	margin-top: 5px;
	width: 500px;
	height: 50px;
	box-shadow:0 4px 10px rgba(0, 0, 0, .5);
}

.card .question {
	margin: 10px;
	font-size: 24px;
}

.result {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
}
input {
	display: inline-block;
}

.error{
	border-color:red;
}
.card img {
	height:40%;
	width:100%;
}

.card{
	text-align:center;
}

.decks{
	margin:15px;
	height: 90px;
	width:90px;
	float:left;
}
.decks img {
	height:100%;
	width:100%;
}
.instant_update{
	width:100%;
}
.selected{
	border-color:green;
}
#rules{
	display: inline-block;
}
#rule-container{
	margin: 0 auto;
	overflow-y: auto;
}

#card-title{
	text-align: center;
	font-size: 40px;
	margin: 30px 0;
	color: #999;
}

.display-inner{
	margin: auto;
	width: 70%;
}
.error-message {
	padding:2px;
	margin-left:5px;
	color:#333;
	background-color: #ccc;
	border: 2px solid black;
	position:absolute;
	display: none;
}
