/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset/utilities";
@import "compass/utilities/general";
@import "compass/css3";
@import url("http://fonts.googleapis.com/css?family=Play");

@include global-reset();

@font-face {
    font-family: 'wisdom';
    src: url('/fonts/wisdom_script-webfont.eot');
    src: url('/fonts/wisdom_script-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/wisdom_script-webfont.woff') format('woff'),
         url('/fonts/wisdom_script-webfont.ttf') format('truetype'),
         url('/fonts/wisdom_script-webfont.svg#WisdomScriptAIRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// VARIABLES
/////////////////////////

$header-color: #DDD;

// MIXINS
/////////////////////////

@mixin text-engrave($color)
{
	color: lighten($color, 7%);
	@include text-shadow(-1px -1px 0 darken($color, 7%));
}

@mixin text-emboss($color)
{
	color: lighten($color, 7%);
	@include text-shadow(1px 1px 0 darken($color, 7%));
}

// GENERAL
/////////////////////////

html
{
	@include background(linear-gradient(#FFF, #EEE));
	height: 100%;
}

body
{
	-webkit-font-smoothing: subpixel-antialiased;
	font: 15px/1.5em 'Play';
	color: #666;
}

.right{float: right;}
.left{float: left;}

// HEADER
/////////////////////////

header
{
	@include transition-property("top");
	@include transition-duration(0.5s);
	background: $header-color;
	@include box-shadow(0 1px 0 darken($header-color, 20%));
	height: 80px;
	position: relative;
	@include clearfix;
	&.hidden
	{
		top: -90px;
	}
}


$size: 140px;
#logo
{
	@include transition-property("top");
	@include transition-duration(0.4s);
	
	font-size: $size / 2.3;
	height: $size;
	width: $size;
	line-height: $size*1.2;
	text-align: center;
	background: #FF6347;
	@include border-radius(50%);
	position: absolute;
	top: -40px;
	left: 50%;
	margin-left: $size/-2;
	font-family: 'wisdom';
	@include text-engrave(#FF6347);
	@include box-shadow(1px 1px 0 darken(#FF6347, 20%));
	cursor: pointer;
	z-index: 999;
	&:hover
	{
		@include text-emboss(#FF6347);
	}
	&:active
	{
		@include text-engrave(#FF6347);
	}
	&.hidden
	{
		top: $size/-1.35;
	}
}

#main-nav
{
	margin: 45px 0 0 0px;
	text-align: center;
	.left
	{
		width: 40%;
		a
		{
			width: 80px;
			display: block;
			float: right;
		}
	}
	.right
	{
		width: 40%;
		a
		{
			width: 80px;
			display: block;
			float: left;
		}
	}
}

// DECKS
/////////////////////////

.deck
{
	width: 249px;
	height: 383px;
	// @include box-shadow(0 0 10px #333);
	display: block;
	position: relative;
	cursor: pointer;
	float: left;
	margin: 20px;
	border-width: 10px 0px 0px 10px;
	border-style: solid;
	border-color: #333 transparent transparent #000 ;
  display: none;
	.deck-title
	{
		background: transparentize(#333, 0.1);
		color: #FFF;
		position: absolute;
		z-index: 99;

		bottom: 10px;
		left: -20px;
		padding: 5px 10px;
	}
	img
	{
		height: 100%;
		width: 100%;
		position: absolute;
	}
}

html
{
  $width: 300px;
  $height: 200px;
  $border-size: 10px;
  $border-color: #DDD;
    .container {
      width: $width;
      height: $height;
      position: relative;
      margin: 40px auto 40px;
      // border: 1px solid #CCC;
      @include perspective(1200px);
    }

    #box {
      width: 100%;
      height: 100%;
      position: absolute;
      @include transform-style(preserve-3d);
      @include transition-duration(1s);
      @include transition-property();
      @include transform(translateZ(0) rotateX(80deg) rotateZ(-40deg) rotateY(0deg));
      &:hover
      {
        .left
        {
          @include transform(rotateY(-110deg) translateZ(250px));
        }
      }
    }

    #box figure {
      @include transform-style(preserve-3d);
      @include transition-duration(1s);
      @include transition-property();
      display: block;
      position: absolute;
      border: $border-size solid $border-color;
      line-height: 196px;
      font-size: 90px;
      text-align: center;
      font-weight: bold;
      color: white;
      background: #A996C2 center center;
      background-size: contain;
    }

    #box.panels-backface-invisible figure {
      @include backface-visibility(hidden);
    }

    #box .front,
    #box .back {
      width: $width - $border-size * 2;
      height: $height - $border-size * 2;
    }


    #box .right,
    #box .left {
      width: ($height / 2)  - $border-size * 2;
      height: $height - $border-size * 2;
    }

    #box .right{left: 99px;}
    #box .left{left: 101px;}

    #box .top,
    #box .bottom {
      width: $width - $border-size * 2;
      height: $height / 2 - $border-size * 2;
      top: 49px;
      line-height: 96px;
    }

    #box .top{top: 51px;}
    #box .bottom{top: 49px;}


    #box .front  {
      @include transform(translateZ(50px));
    }
    #box .back   {
      @include transform(rotateX(-180deg) translateZ(50px));
    }
    #box .right {
      @include transform(rotateY(90deg) translateZ(150px));
    }
    #box .left {
      @include transform( rotateY(-90deg) translateZ(150px));
    }
    #box .top {
      @include transform( rotateX(90deg) translateZ(100px));
    }
    #box .bottom {
      @include transform( rotateX(-90deg) translateZ(100px));
    }

    #box.box2
    {
      z-index: -1;
      margin-top: 99px;
      figure
      {
        background: tomato;
      }
    }
}
