/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "mixins";
//@import "animation";

//	START SCREEN
////////////////////////////

.container {
	height: 100%;
}

#content
{
	@include ipad;
	background: #FFF;
	overflow: hidden;
}

#weo-start {
	@include transform(translate3d(0,0,0));
	// font-family: "WisdomScript";
	// display: none;
	// visibility: hidden;
}

#start-screen {
	background: url(/img/startBg.png) center center;
	height: 100%;
}

#deckFlow
{
	z-index: 9999;
	cursor: move;
	@include transition(all .4s ease-out);
	display: none;
	position: absolute;
	right: 30px;
	top: 180px;
	height: 370px;
	width: 650px;
	@include perspective(700px);
	-moz-perspective-origin: 150% 50%;
	@include transform-style(preserve-3d);
	@include transform(translateZ(99999px));
	&.offstage {
		@include transform(scale(2));
		@include opacity(0);
	}
	.deck{
		position: absolute;
		width: 210px;
		height: 370px;
		.shadow {
			width: 140px;
			left: 39px;
			height: 25px;
			@include border-radius(45% 50% 50% 55%);
			background: transparentize(#333, .85);
			position: absolute;
			bottom: 0px;
			&.float {
				width: 150px;
				left: 34px;
				height: 25px;
			}
		}
		img {
			position: absolute;
			top: 0;
			&.float {
				top: 15px;
			}
		}

	}
}

#scene {
	img {
		position: absolute;
	}
	.sign {
		top: 0px;
		&.offstage {
			top: -300px;
		}
	}
	.mountain-back {
		left: 180px;
		bottom: 240px;
		&.offstage {
			left: -1200px;
		}
	}
	.mountain-mid {
		left: -350px;
		bottom: 120px;
		&.offstage {
			left: -2000px;
		}
	}
	.mountain-front {
		bottom: 150px;
		left: -100px;
		&.offstage {
			left: -2000px;
		}
	}
	.temple {
		bottom: 150px;
		left: 30px;
		&.offstage {
			left: -450px;
		}
	}
	.ground {
		bottom: 0;
		&.offstage {
			bottom: -500px;
		}
	}
	.guru {
		bottom: 150px;
		left: 70px;
		&.offstage {
			bottom: -350px;
		}
	}

	
}


//	DECKS BROWSE
////////////////////////////


#browse-screen {
	width: 1024px * 2;
	position: absolute;
	left: -1024px;
	.awning {
		$height: 55px;
		height: $height;
		background: url("/app!common/textures/blue-scale.png");
		@include box-shadow(0 3px 15px #333);
		font-family: 'Fresca';
		font-size: 40px;
		color: #EEE;
		line-height: $height;
		padding: 0 20px;
	}

	.select-placeholder{
		float: left;
		height: 100%;
		background: url(/img/woodBg.jpg) center center no-repeat;
		@include ipad;
	}
	.browse{
		float: left;
		height: 100%;
		background: url(/img/browseBg.jpg) center center no-repeat;
		@include ipad;
	}
}

#deck-grid {
	$height: 220px;
	$width: 150px;
	
	height: $height;
	width: 850px;
	margin: 150px auto 0;
	@include transform-style(flat);
	.shelf-wrapper {
		visibility: hidden;
	}
	.deck-container {
		cursor: pointer;
		width: $width;
		height: $height;
		float: left;
		background-position: center center;
		position: relative;
		.shadow {
			position: absolute;
			bottom: 5px;
			@include border-radius(45% 45% 65% 65%);
			@include background(transparentize(#333, .7));
			width: 95px;
			height: 18px;
			left: 25px;
		}
	}
}

.dialog {
	width: 700px;
	.content {
		padding: 0;
	}
	h2 {
		background: #333;
		color: #FFF;
		padding: 0 10px;
		font-size: 30px;
		line-height: 1.5em;
		text-align: center;
	}
	.close {
		top: 8px;
		right: 8px;
		color: #EEE;
		border-color: #EEE;
		background: #222;
		&:hover {
			color: #FFF;
			border-color: #FFF;
		}	
	}

	.deck-image {
		padding: 30px;
		float: left;
		width: 250px;
		height: 300px;
		background: #DDD url(/img/deckBurst.png) 14px -4px no-repeat;
		.deck {
			float: none;
			margin: 20px auto 0;
			height: 240px;
			width: 142px;
			display: block;
		}
		p {
			font-size: 30px;
			font-family: MayonaiseCondRegular;
			text-align: center;

		}
	}
	.deck-meta {
		float: right;
		padding: 30px;
		width: 330px;
		.meta {
			clear: both;
			min-height: 30px;
			margin-bottom: 10px;
		}
		h3 {
			font-family: Fresca;;
			font-size: 25px;
			float: left;
			width: 140px;
			line-height: 14px;
		}
		p {
			float: left;
			width: 180px;
			font-size: 20px;
			font-family: fresca;
		}
		.clear {
			clear: both;
		}
		.play-button {
			cursor: pointer;
			width: 160px;
			height: 80px;
			float: right;
			clear: both;
			background: url(/img/playButton.png);
			position: absolute;
			bottom: 10px;
			right: 10px;
			margin: 0;
			&:hover {
				background-position: 0px 81px;
			}
			&:active{
				bottom: 9px;
			}
		}
	}
}

#playground {
	@include ipad;
	background: url(/img/browseBg.jpg) center center no-repeat;
}


// $size: 150px;

// @mixin deckCards{
// 	height: $size;
// 	width: $size;
// 	@include transition(all .4s ease-out);
// 	@include border-radius(8px);
// 	z-index: 0;
// }

// #mute-button {
// 	position: absolute;
// 	top: 10px;
// 	right: 10px;
// 	height: 30px;
// 	cursor: pointer;
// 	text-decoration: line-through;
// 	&.muted {
// 		text-decoration: none;
// 	}
// }

// #deck-grid
// {	
// 	@include transition(height .7s ease-out);
// 	position: relative;
// 	.deck-container
// 	{
// 		@include perspective(800px);
// 		@include transform-style(preserve-3d);
// 		@include transform(rotateY(120deg) scale(0.001));
// 		cursor: pointer;
// 		position: absolute;
// 	}
// }

// #decks-title
// {
// 	text-align: center;
// 	font-size: 40px;
// 	margin: 30px 0;
// 	color: #999;
// 	// @include text-shadow(-1px -1px 0 #000);
// }


// .card-container, .deck-container{
// 	@include deckCards;
// }

// .deck-container, .card-container
// {
// 	.deck, .card
// 	{
// 		height: 100%;
// 		width: 100%;
// 		@include perspective(800px);
// 	}
		
// 	.front, .back{
// 		@include transition(all .25s ease-in-out);
// 		@include transform-style(preserve-3d);
// 		@include backface-visibility(hidden);
// 		@include box-shadow(inset 1px 1px 1px transparentize(#FFF, 0.4), 0 0 7px #333);
// 		@include background-size(100%);
// 		background-repeat: no-repeat;
// 		background-position: center;
// 	}

// 	.front{
// 		@include transform(rotateX(0deg) rotateY(0deg));
// 		position: absolute;
// 		width: 100%;
// 		height: 100%;
// 		@include border-radius(8px);
// 	}
// 	.back
// 	{
// 		position: absolute;
// 		left: 0;
// 		$padding: 10px;
// 		padding: $padding;
// 		width: $size - $padding * 2;
// 		height: $size - $padding * 2;
// 		@include border-radius(8px);
// 		font: 16px/1.2em sans-serif;
// 		color: #FFF;
// 		background: transparentize(#000, 0.7);
// 		background: url("/app!common/textures/low_contrast_linen.png");
// 		bottom: 0;
// 		@include transform(rotateY(180deg));
// 		.play{
// 			@include background(linear-gradient(#FFF, #DDD));
// 			cursor: pointer;
// 			@include border-radius(5px);
// 			position: absolute;
// 			bottom: 10px;
// 			width: 100px;
// 			color: #333;
// 			padding: 5px;
// 			display: block;
// 			text-align: center;
// 			&:hover
// 			{
// 				@include background(linear-gradient(#DDD, #FFF));
// 			}
// 		}
// 	}

// 	&.view-more {
// 		.front {
// 			@include transform(rotateY(-180deg));
// 		}
// 		.back {
// 			z-index: 99;
// 			@include transform(rotateY(0deg));
// 		}
// 	}
// 	&.close {
// 		@include transition(all .8s ease-out);
// 		.back, .front {
// 			@include transition(all .5s ease-out);
// 		}
// 	}
// }


// //	PLAY
// ////////////////////////////

// $playHeight: 400px;
// $playWidth: 555px;

// .stage
// {
// 	@include perspective(1000px);
// 	@include transform-style(preserve-3d);
// 	pointer-events: none;
// 	// div {
// 	// 	@include transition(all 1s ease-in-out !important);
// 	// }
// }

// // .card-container.current.play {
// // 	@include transition(all .4s ease-in-out);
// // 	height: $playHeight;
// // 	width: $playWidth;
// // 	.back {
// // 		@include transition(all .4s ease-in-out);
// // 		$padding: 20px;
// // 		padding: $padding;
// // 		height: $playHeight - $padding * 2;
// // 		width: $playWidth - $padding * 2;
// // 	}
// // }

// #playground {
// 	position: relative;
// 	height: 400px;
// 	margin-top: 30px;
// 	background: url("/app!common/textures/45degreee_fabric.png");
// 	@include border-radius(8px);
// 	@include box-shadow(0 0 10px #333);
// 	padding: 20px;
// 	&.hide {
// 		display: none;
// 	}

// 	.card-container {
// 		position: absolute;
// 		bottom: 20px;
// 		left: 20px;
// 		.front {
// 			@include transform(rotateY(-180deg));
// 		}
// 		.back {
// 			@include transform(rotateY(0deg));
// 		}
// 	}
// 	h3 {
// 		font-size: 50px;
// 		line-height: 1.5em;
// 		color: #999;
// 		@include text-shadow(-1px -1px 0 #333);
// 		text-align: center;
// 	}
// 	#play-area {
// 		float: left;
// 		width: 555px;
// 		height: 400px;
// 		.question {
// 			color: #999;
// 			@include text-shadow(-1px -1px 0 #333);
// 			font-size: 60px;
// 			line-height: 1.2em;
// 			text-align: center;
// 		}
// 	}

	
// 	// @include transition(all 1.4s ease-in-out);
// }

// #play-meta {
// 	float: right;
// 	width: 320px;
// 	height: 360px;
// 	padding: 20px;
// 	background: #FFF;
// 	@include border-radius(8px);
// 	@include box-shadow(0 0 10px #333);
// }

// #bar {
// 	float: left;
// 	width: 50px;
// 	height: 100%;
// 	background: #CCC;
// 	position: relative;
// 	.fill {
// 		height: 0;
// 		width: 100%;
// 		position: absolute;
// 		bottom: 0;
// 		background: #87CEEB;
// 	}
// }




// #deck-dock {
// 	margin-top: 20px;
// 	height: $size;
// 	width: 100%;
// 	position: relative;

// 	> div{
// 		@include perspective(1000px);
// 		@include transform-style(preserve-3d);
// 		position: absolute;
// 		width: $size;
// 		height: $size;
// 		@include transition(transform .3s ease-in-out);
// 		z-index: 1;
// 		> div {
// 			position: absolute;
// 			cursor: pointer;
// 			width: $size;
// 			height: $size;
// 			@include transition(all .3s ease-in-out);
// 			&.view-more {

// 			}
// 		}
// 	}

// 	#answered {
// 		z-index: 999 !important;
// 		.deck-container{
// 			z-index: 999;
// 		}
// 	}
// }

// .card-container {

// 	$dur: .5s;
// 	@include transition-property(transform, height, width);
// 	@include transition-duration($dur);
// 	@include transition-timing-function(ease-in-out);

// 	.front{
// 		@include background-size(100%);
// 		background-repeat: no-repeat;
// 	}
// 	.front, .back {
// 		@include transition-property(transform, height, width);
// 		@include transition-duration($dur);
// 		@include transition-timing-function(ease-in-out);
// 		.solution {
// 			width: 100px;
// 		}
// 	}
// 	.back-content
// 	{
// 		display: none;
// 	}
// 	&.current
// 	{
// 		// background: none;
// 		// height: $playHeight;
// 		// width: $playWidth;
// 		.front {
// 			// height: $size;
// 			// width: $size;
// 			@include transform(rotateY(-180deg));
// 		}
// 		.back {
// 			// height: $size;
// 			// width: $size;
// 			z-index: 99;
// 			@include transform(rotateY(0deg));
// 		}

// 	}



// 	// &.wrong, &.correct {
// 	// 	@include box-shadow(inset 1px 1px 1px transparentize(#FFF, 0.4), 0 0 7px #333);
// 	// 	.card {
// 	// 		@include opacity(0.4);
// 	// 		@include box-shadow(0 0 0);
// 	// 	}
// 	// }
	
// 	&.wrong {
// 		background: #FF3366;
// 	}

// 	&.correct {
// 		background: #A2E67E;
// 	}
// }

	
