/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import url("http://fonts.googleapis.com/css?family=Fresca");
@import "mixins";


//	DECKS GRID
////////////////////////////

$size: 150px;

@mixin deckCards{
	height: $size;
	width: $size;
	@include transition(all .4s ease-out);
	@include border-radius(8px);
	z-index: 0;
}

#mute-button {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 30px;
	cursor: pointer;
	text-decoration: line-through;
	&.muted {
		text-decoration: none;
	}
}

#content
{
	padding-top: 40px;
}

#deck-grid
{	
	// padding: 20px;
	// @include block;
	@include transition(height .7s ease-out);
	// overflow: hidden;
	position: relative;
	.deck-container
	{
		@include perspective(800px);
		@include transform-style(preserve-3d);
		@include transform(rotateY(120deg) scale(0.001));
		cursor: pointer;
		position: absolute;
	}
}

#decks-title
{
	text-align: center;
	font-size: 40px;
	margin: 30px 0;
	color: #999;
	// @include text-shadow(-1px -1px 0 #000);
}


.card-container, .deck-container{
	@include deckCards;
}

.deck-container, .card-container
{
	.deck, .card
	{
		height: 100%;
		width: 100%;
		@include perspective(800px);
	}
		
	.front, .back{
		@include transition(all .25s ease-in-out);
		@include transform-style(preserve-3d);
		@include backface-visibility(hidden);
		@include box-shadow(inset 1px 1px 1px transparentize(#FFF, 0.4), 0 0 7px #333);
		@include background-size(100%);
		background-repeat: no-repeat;
		background-position: center;
	}

	.front{
		@include transform(rotateX(0deg) rotateY(0deg));
		position: absolute;
		width: 100%;
		height: 100%;
		@include border-radius(8px);
	}
	.back
	{
		position: absolute;
		left: 0;
		$padding: 10px;
		padding: $padding;
		width: $size - $padding * 2;
		height: $size - $padding * 2;
		@include border-radius(8px);
		font: 16px/1.2em sans-serif;
		color: #FFF;
		background: transparentize(#000, 0.7);
		background: url("/app!common/textures/low_contrast_linen.png");
		bottom: 0;
		@include transform(rotateY(180deg));
		.play{
			@include background(linear-gradient(#FFF, #DDD));
			cursor: pointer;
			@include border-radius(5px);
			position: absolute;
			bottom: 10px;
			width: 100px;
			color: #333;
			padding: 5px;
			display: block;
			text-align: center;
			&:hover
			{
				@include background(linear-gradient(#DDD, #FFF));
			}
		}
	}

	&.view-more {
		.front {
			@include transform(rotateY(-180deg));
		}
		.back {
			z-index: 99;
			@include transform(rotateY(0deg));
		}
	}
	&.close {
		@include transition(all .8s ease-out);
		.back, .front {
			@include transition(all .5s ease-out);
		}
	}
}


//	PLAY
////////////////////////////

$playHeight: 400px;
$playWidth: 555px;

.stage
{
	@include perspective(1000px);
	@include transform-style(preserve-3d);
	pointer-events: none;
	// div {
	// 	@include transition(all 1s ease-in-out !important);
	// }
}

// .card-container.current.play {
// 	@include transition(all .4s ease-in-out);
// 	height: $playHeight;
// 	width: $playWidth;
// 	.back {
// 		@include transition(all .4s ease-in-out);
// 		$padding: 20px;
// 		padding: $padding;
// 		height: $playHeight - $padding * 2;
// 		width: $playWidth - $padding * 2;
// 	}
// }

#playground {
	position: relative;
	height: 400px;
	margin-top: 30px;
	background: url("/app!common/textures/45degreee_fabric.png");
	@include border-radius(8px);
	@include box-shadow(0 0 10px #333);
	padding: 20px;
	&.hide {
		display: none;
	}

	.card-container {
		position: absolute;
		bottom: 20px;
		left: 20px;
		.front {
			@include transform(rotateY(-180deg));
		}
		.back {
			@include transform(rotateY(0deg));
		}
	}
	h3 {
		font-size: 50px;
		line-height: 1.5em;
		color: #999;
		@include text-shadow(-1px -1px 0 #333);
		text-align: center;
	}
	#play-area {
		float: left;
		width: 555px;
		height: 400px;
		.question {
			color: #999;
			@include text-shadow(-1px -1px 0 #333);
			font-size: 60px;
			line-height: 1.2em;
			text-align: center;
		}
	}

	
	// @include transition(all 1.4s ease-in-out);
}

#play-meta {
	float: right;
	width: 320px;
	height: 360px;
	padding: 20px;
	background: #FFF;
	@include border-radius(8px);
	@include box-shadow(0 0 10px #333);
}

#bar {
	float: left;
	width: 50px;
	height: 100%;
	background: #CCC;
	position: relative;
	.fill {
		height: 0;
		width: 100%;
		position: absolute;
		bottom: 0;
		background: #87CEEB;
	}
}




#deck-dock {
	margin-top: 20px;
	height: $size;
	width: 100%;
	position: relative;

	> div{
		@include perspective(1000px);
		@include transform-style(preserve-3d);
		position: absolute;
		width: $size;
		height: $size;
		@include transition(transform .3s ease-in-out);
		z-index: 1;
		> div {
			position: absolute;
			cursor: pointer;
			width: $size;
			height: $size;
			@include transition(all .3s ease-in-out);
			&.view-more {

			}
		}
	}

	#answered {
		z-index: 999 !important;
		.deck-container{
			z-index: 999;
		}
	}
}

.card-container {

	$dur: .5s;
	@include transition-property(transform, height, width);
	@include transition-duration($dur);
	@include transition-timing-function(ease-in-out);

	.front{
		@include background-size(100%);
		background-repeat: no-repeat;
	}
	.front, .back {
		@include transition-property(transform, height, width);
		@include transition-duration($dur);
		@include transition-timing-function(ease-in-out);
		.solution {
			width: 100px;
		}
	}
	.back-content
	{
		display: none;
	}
	&.current
	{
		// background: none;
		// height: $playHeight;
		// width: $playWidth;
		.front {
			// height: $size;
			// width: $size;
			@include transform(rotateY(-180deg));
		}
		.back {
			// height: $size;
			// width: $size;
			z-index: 99;
			@include transform(rotateY(0deg));
		}

	}



	// &.wrong, &.correct {
	// 	@include box-shadow(inset 1px 1px 1px transparentize(#FFF, 0.4), 0 0 7px #333);
	// 	.card {
	// 		@include opacity(0.4);
	// 		@include box-shadow(0 0 0);
	// 	}
	// }
	
	&.wrong {
		background: #FF3366;
	}

	&.correct {
		background: #A2E67E;
	}
}

	

//	DECKS CREATOR
////////////////////////////

.ipad{
	$size:250px;
	$width:$size/1.5;
	$depth:$width/3;
	$offset:$depth/2;

	@include ipad();
	background-color:#ccc;
	section#viewport{
		margin:0 auto;
		width:$width;
		height:$size;
		@include perspective(700px);
		@include perspective-origin(50% 50%);
	}
	article#box{
		width:$width;
		height:$size;
	 @include transform-style(preserve-3d);
	 position:absolute;
	}
	#box section{
		cursor:move;
		@include transform-style(flat);
		@include backface-visibility(hidden);
		position:absolute;
		background-color:grey;
		outline:1px solid #555;
		@include box-shadow(inset 0px 0px 10px #333)
	}
	#front, #back{
	 width:$width;
	 height: $size;
	 @include transform(translate3d(0px, 0px, $offset));
	}
	#back{
		@include transform(rotateY(180deg) translate3d(0px, 0px, $offset));
	}
	#top, #bottom{
	 width:$width;
	 height: $depth;
	 @include transform(rotateX(90deg) translate3d(0px, 0px, $offset));
	}
	#bottom{
		@include transform(rotateX(-90deg) translate3d(0px, 0px, $size - $offset));
	}
	#left, #right{
	 width: $depth;
	 height: $size;
	 @include transform(rotateY(-90deg) translate3d(0px, 0px, $offset));
	}
	#right{
		@include transform(rotateY(90deg) translate3d(0px, 0px, $width - $offset));
	}
}


//	CARD CREATOR
////////////////////////////


$cardsize:380px;
$cardmargin:15px;


#card-title{
	cursor:pointer;
	text-align: center;
	font-size: 40px;
	margin: 30px 0;
	color: #999;
	@include text-shadow(1px 1px #333)
}

.wrapper{
	overflow:hidden;
	position:relative;
	margin:0 auto;
	width:$cardsize*2 + $cardmargin*4;
	height:$cardsize + $cardmargin*2;
}

.selectable{
	position:absolute;
	width:100%;
	height:100%;
}

.step-nav-bar{
	$height:30px;
	$width:326px;
	width:$width * 3;
	position:relative;
	height:$height;
	text-align:center;
	@include box-shadow(0 0 10px #333);
	@include border-radius(8px);
	vertical-align:baseline;
	.active{
		background-color:#aaa;
		color:white;
		@include text-shadow(-1px -1px 0 #000);
	}
	.step-nav{
		@include transition(all .5s ease-in-out);
		cursor:pointer;
		height:$height;
		line-height:$height;
		width:$width;
		float:left;
	}
	#step-1{
		border-radius:8px 0px 0px 8px;
	}
	#step-3{
		border-radius:0px 8px 8px 0px;
	}
}

.create{
	@include transition(all .5s ease-in-out);
	left:1000px;
	position:absolute;
	width:$cardsize*2 + $cardmargin*4;
	height:$cardsize + $cardmargin*2;
	margin:0 auto;
	&.active{
		left:0px;
	}
}


.display
{
	width: $cardsize;
	height: $cardsize;
	margin: $cardmargin;
	z-index:0;
	float:left;
	overflow:auto;
	background: transparentize(#FFF, 0.2);
	//@include transition(all .5s ease-in-out);
	@include border-radius(8px);
	@include box-shadow(0 7px 10px rgba(0,0,0,0.4));
	position: relative;
	h2
	{
		@include transition(all .5s ease-in-out);
		font-size:25px;
		margin-top:15px;
		text-align:center;
		text-decoration:underline;
		padding: 5px;
		background-color:#333;
		color: white;
		text-shadow: 1px 1px #AAA;
	}
	.display-inner
	{
		padding:20px;

	}
	.card-section
	{
		text-align:center;
		margin:20px;
	}
	.choose-deck
	{
		@include background(linear-gradient(#ccc, #DDD));
		cursor: pointer;
		@include border-radius(5px);
		// border: 8px solid #FF3366;
		border:2px solid transparent;
		position: relative;
		margin: auto;
		width: 100px;
		color: #333;
		padding: 5px;
		display: block;
		text-align: center;
		&:hover
		{
			@include background(linear-gradient(#DDD, #ccc));
		}
		&:active
		{
			@include background(linear-gradient(#DDD, #ccc));
			border:2px inset;
		}
	}
}
#flippable{
	@include border-radius(0);
	@include box-shadow(none);
	overflow:visible;
	background:transparent;
	margin:0px;
}
.deck-holder{
	background:none;
	left: 0px;
	box-shadow: none;
	overflow: visible;
}
.deck-preview{
	$size:90px;
	width:100%;
	@include transform-style(preserve-3d);
	@include perspective(800px);
	.deck-container{
		@include transition(all .5s ease-in-out);
		position: absolute;
		width:$size;
		height:$size;
		.deck{
			@include transition(all .5s ease-in-out);
			.front{
				@include transition(all .5s ease-in-out);
				background-size:100% !important;
			}
			.back{
				@include transition(all .5s ease-in-out);
				@include perspective(800);
				height:$cardsize;
				width:$cardsize;
				padding:0px;
			}
		}
	}
	.selected{
		top:0px;
		left:0px;
		height:$cardsize;
		width:$cardsize;
	}
	.choose-deck{
			@include background(linear-gradient(#FFF, #DDD));
			cursor: pointer;
			@include border-radius(5px);
			// border: 8px solid #FF3366;
			position: absolute;
			bottom: 10px;
			width: 100px;
			color: #333;
			padding: 5px;
			display: block;
			text-align: center;
			&:hover
			{
				@include background(linear-gradient(#DDD, #FFF));
			}
		}
	.chosen{
		left:-3px;
		top:-3px;
		border:3px outset yellow;
	}
}

#colorpicker{
	width:195px;
	margin: 10px auto;
}

#template-preview{
	overflow:visible;
}

#flippable{
	@include perspective(700px);
	@include perspective-origin(50% 50%);	
	#box{
		overflow:visible;
		@include transform-style(preserve-3d);
		section {
			@include transform-style(flat);
			@include backface-visibility(hidden);
		}
		.side {
			height:$cardsize;
			width:$cardsize;
			position:absolute;
			@include transition(all .5s ease-in-out);
		}
		.top-side{
			width:$cardsize;
			height:4px;
		}
		.side-side{
			width:4px;
			height:$cardsize;
		}
		#front{
			@include transform(translate3d(0px,0px,2px));
		}
		#back {
			@include transform(rotateY(180deg) translate3d(0px,0px,2px));	
		}
		#top {
			@include transform(rotateX(90deg) translate3d(0px, 0px, 2px));
		}
		#bottom{
			@include transform(rotateX(-90deg) translate3d(0px, 0px, $cardsize - 2));
		}
		#left{
			@include transform(rotateY(-90deg) translate3d(0px, 0px, 2px));
		}
		#right{
			@include transform(rotateY(90deg) translate3d(0px, 0px, $cardsize - 2));
		}
	}
}