@import '../decks/mixins.styl';

#deck-play-screen {
	ipad();
	background: url('/img/woodBg.jpg') center no-repeat;
	#players-area {
		float: right;
	}

	.card {
		float: none;
	}
}

#problem-container {
	float: left;
	width: 768px;
	height: 100%;
	background: url('/app!common/textures/roughcloth.png');
	box-shadow(inset 0 0 80px #777);
	transition: all .4s;
	transform: scale(1);
	opacity: 1;
}

#problem {
	width: 100%;
	text-align: center;
	position: absolute;
	size = 60px;
	top: 50%;
	margin-top:  size * -1;
	font: size/size "Fresca";
	color: #555;
	text-shadow: 1px 1px 0 #333;
}

#answer {
	background: none;
	outline: 0;
	text-align: center;
	font: 50px "Fresca";
	width: 120px;
	height: 57px;
	border: 0;
	border-bottom: 2px dotted #666;
	color: #555;
	text-shadow: 1px 1px 0 #333;
	margin-top: 30px;
}

#game-points {
	position: absolute;
	font: 35px/35px 'Nuku Nuku';
	bottom: 10px;
	left: 20px;
}

#bonus {
	position: absolute;
	bottom: 20px;
	z-index: 999;
	width: 768px;
	height: 100px;
	font: 0px/50px 'Nuku Nuku';
	text-align: center;
	// opacity: 0;
	// transform: scale(0);
	// transition: all .08s ease-in;
	text-shadow: 5px 5px 0px #454545;
	margin: 0 0 250px 0;
	// &.start {
	// 	margin: 0 0 200px 0;
	// }
	&.critical {
		color = lighten(#CF0000, 10);
		-webkit-text-stroke: 2px darken(color, 20);
		color: color;
	}
	&.spree {
		color = #3FA9F5;
		-webkit-text-stroke: 2px darken(color, 20);
		color: color;
	}
	// &.displayed {
	// 	opacity: 1;
	// 	transform: scale(1);
	// 	margin: 0;
	// }
	// &.big {
	// 	opacity: 1;
	// 	transform: scale(1.6);	
	// }
	// &.end {
	// 	margin: 0 0 0 -300px;
	// }
}