@import 'nib'
@import '../common/common.styl';
@import '../decks/mixins.styl';


/**
 * 	CREATE OPTIONS SCREEN
 */

#create-screen {
	ipad();
	background-image: url('/img/woodBg.jpg');
}

#create-menu {
	width: 770px;
	margin: 0 auto;
	li {
		float: left;
		display: block;
		margin: 0 20px;
		cursor: pointer;
		text-shadow: 1px 1px 0 rgba(black, .5);
		&:hover {
			text-shadow: -1px -1px 0 rgba(black, .5);
		}
	}
}

/**
 *	DECK CREATE
 */

#deck-edit-info-page {
	ipad();
	background: url('/img/woodBg.jpg');
}

.parchment {
	height: 446px;
	width: 490px;
	background: url('/img/parchment.jpg');
	box-shadow: 0 0 40px #333;
	float: left;
	margin: 70px;
}

#info_form {
	width: 440px;
	float: right;
	margin-top: 85px;
	input, textarea {
		margin: 0 0 10px;
		resize: none;
		border: 0;
		box-shadow: inset -1px -1px 15px rgba(#333, .7);
		padding: 8px 10px;
		background: rgba(black, .2);
		border-radius: 4px;
		width: 200px;
		outline: 0;
		font: 18px/22px "fresca";
	}

	textarea { height: 100px }

	label {
		font: 25px/30px nuku;
		color: #645037;
		text-shadow: 1px 1px 0 rgba(black, .5);
		display: block;
		float: left;
		width: 160px;
		text-align: right;
		margin-right: 20px;
		small {
			display: block;
			font-size: 18px;
			line-height: 18px;
		}
	}
}

#file-upload-box {
	position: relative;
	input {
		position: absolute;
		&#image-upload { opacity: 0 }
	}
}

.deck-preview {
	float: left;
	#deck-edit {
		float: left;
		height: 400px;
		width: 300px;
		box-shadow: 0 0 30px #333, inset 2px 2px 1px rgba(white, .5), inset -1px -1px 1px rgba(black, .5);
		background-image: url('/app!common/textures/45degree_fabric.png');
		margin: 90px 0 20px 20px;
		position: relative;
		border-radius: 16px;
		display: block;
	}
	.deck-title {
		width: 300px;
		font-size: 36px;
		margin-left: 20px;
		clear: both;
	}
}

#save-deck {
	red-button();
	position: absolute;
	bottom: -5px;
	&:active{ bottom: -6px }
}

/**
 * Select Cards
 */

#deck-cards-select-screen {
	ipad();
	background: url('/img/woodBg.jpg') center;
}

/**
 * Edit my collection screen
 */

#edit-collection-screen {
	ipad();
	background: url('/img/woodBg.jpg') center;
	.dialog {
		.deck-image {
			background: #DDD url("/img/deckBurst.png") 14px 33px no-repeat
			.deck {
				margin-top: 40px;
			}
			.card {
				margin: 40px 46px;
			}
		}

		.edit-button {
			right: 5px;
			bottom: 10px;
			red-button();
			position: absolute;
			&:hover {
				background-position: 0px 81px;
			}
			&:active{
				bottom: 9px;
			}
		}

	}
}

#my-decks, #my-cards {
	clearfix();
	.deck-container {
		float: left;
		margin: 10px;
		cursor: pointer;
	}

}
