@import 'nib'
@import '../common/common.styl';
@import '../decks/mixins.styl';

#deck-edit-info-page {
	ipad();
	background: url('/img/woodBg.jpg');

	.parchment {
		height: 446px;
		width: 490px;
		background: url('/img/parchment.jpg');
		box-shadow: 0 0 40px #333;
		float: left;
		margin: 70px;
	}

	#info_form {
		width: 440px;
		float: right;
		margin-top: 85px;
		input, textarea {
			margin: 0 0 10px;
			resize: none;
			border: 0;
			box-shadow: inset -1px -1px 15px rgba(#333, .7);
			padding: 8px 10px;
			background: rgba(black, .2);
			border-radius: 8px;
			width: 200px;
			outline: 0;
			font: 18px/22px "fresca";
		}

		textarea { height: 100px }

		label {
			font: 25px/30px nuku;
			color: #645037;
			text-shadow: 1px 1px 0 rgba(black, .5);
			display: block;
			float: left;
			width: 160px;
			text-align: right;
			margin-right: 20px;
			small {
				display: block;
				font-size: 18px;
				line-height: 18px;
			}
		}
	}

	#file-upload-box {
		position: relative;
		input {
			position: absolute;
			&#image-upload { opacity: 0 }
		}
	}
}

.deck-preview {
	float: left;
	#deck-edit {
		float: left;
		height: 400px;
		width: 300px;
		box-shadow: 0 0 30px #333, inset 2px 2px 1px rgba(white, .5), inset -1px -1px 1px rgba(black, .5);
		background-image: url('/app!common/textures/45degree_fabric.png');
		margin: 90px 0 20px 20px;
		position: relative;
		border-radius: 16px;
		display: block;
	}
	.deck-title {
		width: 300px;
		font-size: 36px;
		margin-left: 20px;
		clear: both;
	}
}

#save-deck {
	red-button();
	position: absolute;
}


//	DECKS CREATOR
////////////////////////////

// ipadheight = 672px;
// ipadwidth = 1024px;
// imgheight = 592px;
// imgwidth = 637px;
// height = 36px;



// #card-inner{
// 	#rule-container{
// 	margin: 0 auto;
// 	overflow-x:hidden;
// 	overflow-y: auto;
// 	height:118px;
// 	margin-top:5px;
// 	}
// 	#rules{
// 		width:100%;
// 	}
// 	#bottom-button{
// 		position:relative;
// 		margin:25px auto;
// 	}
// }


// .instant_update{
// 	height:height;
// 	width:60%;
// 	float:right;
// 	padding:0px;
// 	border:none;
// 	&:active{
// 		border:none;
// 	}
// }

// size = 320px;
// width = size/1.45;
// depth = width/3;
// offset =depth/2;
// color = lighten(#599adf, 35);
// margin = 15px;

// .create-screen {

// 	.deck-position {
// 		float:left;
// 		width:ipadwidth - imgwidth;
// 		height: 100%;
// 		right: 0px;
// 		position: absolute;

// 		.deck-shadow {
// 			font-family:'arial';
// 			top: 95px;
// 			width: width;
// 			margin: 0 auto;
// 			position: relative;
// 			perspective: 700px;
// 		}
		
// 		.drop-shadow{
// 			margin: 5px auto;
// 			height: depth/1.5;
// 			width: width/1.8;
// 			border-radius: 30% 45% 25% 30%;
// 			background-color: transparentize(#000, 0.7); 
// 			box-shadow: 0 0px 20px 12px transparentize(#000, 0.70);
// 			transform: rotateX(90deg) translate3d(0px,0px,0px);
// 			position: relative;
// 			bottom: -360px;
// 		}
// 	}

// }



// #deck-edit-info-page, #deck-edit-look-page {
// 	section#viewport{
// 		//-webkit-animation:infinite-spinning $time linear;
// 		position:relative;
// 		top:25%;
// 		margin:0 auto;
// 		width:width;
// 		height:size;
// 		perspective: none;
// 		transform-style: preserve-3d;
// 	}
// 	article#box{
// 		width:width;
// 		height:size;
// 	 	transform-style: preserve-3d;
// 	 	position:absolute;
// 	}
// 	.transition{
// 		transition: all .8s ease-in-out;
// 	}
// 	#box section{
// 		cursor:move;
// 		text-align:center;
// 		transform-style: flat;
// 		backface-visibility: hidden;
// 		position:absolute;
// 		background-color: rgba(darken(#3276c1,2), 0.5);
// 		outline:2px solid lighten(#599adf, 10);
// 		// @include box-shadow(inset 0px 0px 30px #3FA9F5);
// 		h1, h2, h3{
// 			font-family:'MayonaiseCondRegular';
// 			font-size:35px;
// 			padding:offset/2;
// 			z-index:1;
// 			//color:lighten($color,20);
// 		}
// 		p{
// 			color: darken(color, 82);
// 			font-size:20px;
// 			line-height:25px;
// 		}
// 	}

// 	#front, #back{
// 	 width:width;
// 	 height: size;
// 	 transform: translate3d(0px, 0px, offset);
// 	 .full-image{
// 	 	left:0px;
// 	 	top: 0px;
// 		z-index: 0;
// 		position: absolute;
// 		height: size;
// 		width: width;
// 	 }
// 	 h1,h2,h3,p{
// 		position:relative;
// 	}
// 	.deck-title{
// 		padding:10px;
// 		margin:10px auto;
// 	}
// }
// #back{
// 	transform: rotateY(180deg) translate3d(0px, 0px, offset);
// }
// #top, #bottom{
//  width:width;
//  height: depth;
//  transform: rotateX(90deg) translate3d(0px, 0px, offset);
// }
// #bottom{
// 	transform: rotateX(-90deg) translate3d(0px, 0px, size - offset);
// }
// #left, #right{
//  width: depth;
//  height: size;
//  transform: rotateY(-90deg) translate3d(0px, 0px, offset);
// }
// #right{
// 	transform: rotateY(90deg) translate3d(0px, 0px, width - offset);
// }

// #look-input, #template-input{
// 	left:-800px;
// 	}	
// }

// #render-link{
// 	background-image:url('/right_arrow.gif');
// 	top: 385px;
// 	left: 425px;
// 	position: absolute;

// }
// #info-link{
// 	top: 385px;
// 	background-image:url('/left_arrow.gif');
// 	position: absolute;
// }
// #image-filename {
// 	display: none;
// }
