@import 'nib'
@import '../../../../common/common'

//	DECKS CREATOR
////////////////////////////
spin = 100000deg;
time = (100000s/70);


ipadheight = 672px;
ipadwidth = 1024px;
imgheight = 592px;
imgwidth = 637px;
height = 36px;


.input-area{
	position: absolute;
	height: imgheight;
	width: imgwidth;
	background-color: transparent;
	background-image: url("/create-form.png");
	float: left;
}

#card-inner{
	#rule-container{
	margin: 0 auto;
	overflow-x:hidden;
	overflow-y: auto;
	height:118px;
	margin-top:5px;
	}
	#rules{
		width:100%;
	}
	#bottom-button{
		position:relative;
		margin:25px auto;
	}
}

.field-wrapper{
		margin: 18% 0px;
		div, input{
			font-size:18px;
			//line-height:36px;
		}
		input, textarea, option, select{
			text-indent:10px;
			font-size:18px;
			background-color: rgba(#000, 0.25);
			box-shadow: inset 0 0px 8px 0px #444;
			border:none;
			font-family:'arial';
			resize: none;
			display: block;
			width: 200px
			padding:2px 0px;
		}
		.field{
			width:370px;
			height: height;
			margin-left: 300px
			margin-top: 15px;
			margin-bottom: 15px;
			#add-rule{
				width:275px;
				margin: 0 auto;
			}
			.upload{
				cursor: pointer;
				height: height;
				width: auto;
				border: 0px;
				border-radius: 5px;
				text-align: center;
				line-height: 35px;
				padding: 0px 9px;
				box-shadow: 0 0px 15px 3px #000;
				background-color: rgba(#000000, 0.25);
			}
			.error{
					box-shadow: inset 0 0 15px red;
			}
		}
		.text{
			font-family:'WisdomScript';
			width:39%;
			float:left;
			line-height:height;
			text-align:right;
		}
		.textarea-field{
			height:90px;
			textarea{
				padding-top:5px;
				height:90px;
			}
		}
	}


.instant_update{
	height:height;
	width:60%;
	float:right;
	padding:0px;
	border:none;
	&:active{
		border:none;
	}
}

size = 320px;
width = size/1.45;
depth = width/3;
offset =depth/2;
color = lighten(#599adf, 35);
margin = 15px;


.deck-create-screen{
	position:relative;
	overflow:hidden;
	ipad();
	background-position:bottom;
	background-color:transparent;
	background-image:url('/create-bg.jpg');

	section#viewport{
		//-webkit-animation:infinite-spinning $time linear;
		position:relative;
		top:25%;
		margin:0 auto;
		width:width;
		height:size;
		perspective: none;
		transform-style: preserve-3d;
	}
	article#box{
		width:width;
		height:size;
	 	transform-style: preserve-3d;
	 	position:absolute;
	}
	.transition{
		transition: all .8s ease-in-out;
	}
	#box section{
		cursor:move;
		text-align:center;
		transform-style: flat;
		backface-visibility: hidden;
		position:absolute;
		background-color: rgba(darken(#3276c1,2), 0.5);
		outline:2px solid lighten(#599adf, 10);
		// @include box-shadow(inset 0px 0px 30px #3FA9F5);
		h1, h2, h3{
			font-family:'MayonaiseCondRegular';
			font-size:35px;
			padding:offset/2;
			z-index:1;
			//color:lighten($color,20);
		}
		p{
			color: darken(color, 82);
			font-size:20px;
			line-height:25px;
		}
	}

	#front, #back{
	 width:width;
	 height: size;
	 transform: translate3d(0px, 0px, offset);
	 .full-image{
	 	left:0px;
	 	top: 0px;
		z-index: 0;
		position: absolute;
		height: size;
		width: width;
	 }
	 h1,h2,h3,p{
		position:relative;
	}
	.deck-title{
		padding:10px;
		margin:10px auto;
	}
	}
	#back{
		transform: rotateY(180deg) translate3d(0px, 0px, offset);
	}
	#top, #bottom{
	 width:width;
	 height: depth;
	 transform: rotateX(90deg) translate3d(0px, 0px, offset);
	}
	#bottom{
		transform: rotateX(-90deg) translate3d(0px, 0px, size - offset);
	}
	#left, #right{
	 width: depth;
	 height: size;
	 transform: rotateY(-90deg) translate3d(0px, 0px, offset);
	}
	#right{
		transform: rotateY(90deg) translate3d(0px, 0px, width - offset);
	}
	.title{
		background-color:#3FA9F5;
		height:75px;
		color:white;
		font-size:50px;
		line-height:75px;
		padding:0px 20px;
		font-family:'MayonaiseCondRegular';
	}
	#look-input, #template-input{
		left:-800px;
	}	
	.button{
		cursor:pointer;
		height: 30px;
		margin: 0 auto;
		width: 30px;
		background-size: 100%;
		position: absolute;
		bottom: 93px;
	}
	#more-inputs{
		right:95px;
		background-image:url('/right_arrow.gif');
	}
	#prev-inputs{
		right:none;
		left:95px;
		background-image:url('/left_arrow.gif');
	}
	.deck-position{
		float:left;
		width:ipadwidth - imgwidth;
		height: 100%;
		right: 0px;
		position: absolute;
		.deck-shadow{
			font-family:'arial';
			top: 95px;
			width: width;
			margin: 0 auto;
			position: relative;
			@include perspective(700px);
		}
		.drop-shadow{
			margin: 5px auto;
			height: depth/1.5;
			width: width/1.8;
			border-radius: 30% 45% 25% 30%;
			background-color: transparentize(#000, 0.7); 
			box-shadow: 0 0px 20px 12px transparentize(#000, 0.70);
			transform: rotateX(90deg) translate3d(0px,0px,0px);
			position: relative;
			bottom: -360px;
		}
	}
	.upload_val {
		display: none;
	}
}