@import 'nib';
global-reset();
@import '../common/common.styl';

/**
 * Mixins
 */


red-button() {
	background-image: url('/img/red-button.png');
	right: 5px;
	bottom: 10px;
	width: 160px;
	height: 80px;
	text-align: center;
	font: 40px/85px "Fresca"
	color: #FFF;
	text-shadow: -1px -1px 0 rgba(black, .5);
	cursor: pointer;
	user-select: none;
	&:hover {
		background-position: 0px 81px;
		text-shadow: 1px 1px 0 rgba(black, .5);
	}
	&:active{
		bottom: 9px;
		text-shadow: -1px -1px 0 rgba(black, .5);
	}
}

wood-button() {
	font: 35px/73px "Nuku";
	width: 198px;
	height: 70px;
	background: url("/img/wood-button.png");
	text-align: center;
	color: #9E7850;
	text-shadow: -1px -1px 0 rgba(black, .5);
	cursor: pointer;
	user-select: none;
	&:hover {
		background-position: 0px 70px;
		text-shadow: 1px 1px 0 rgba(black, .5);
	}
	&:active{
		text-shadow: -1px -1px 0 rgba(black, .5);
	}
}

.red-button {
	red-button();
}

.wood-button { 
	wood-button();
}


/**
 * Main
 */

#level-progress {
	position: absolute;
	z-index: 9999;
	font: 18px/25px Fresca;
	padding: 0 5px;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(black, .5);
}

.back-button {
	background-image: url('/img/back-button.png');
	position: absolute;
	size = 65px;
	height: size;
	width: size;
	left: 10px;
	bottom: 10px;
	box-shadow: 0 0 20px #333, inset 1px 1px 0 rgba(white, .3);
	border-radius: 50%;
	cursor: pointer; 
	&:hover{
		background-position: 0 -75px;
	}
	&:active {
		bottom: 9px;
		background-position: top left;
	}
}


.small-grid {
		float: left;
		width: 798px;
		height: 100%;
		clearfix();
		height = 299px;
		width = 150px;
		height: 617px;
		width: 798px;
		overflow-y: auto;
		overflow-x: hidden;
		&::-webkit-scrollbar { width: 0 }
		background-image: url('/img/smallShelf.jpg');
		.shelf-wrapper {
			padding: 0 0 30px 54px;
			width: 745px;
			background-image: url('/img/smallShelf.jpg');
			background-repeat: repeat;
			background-attachment: scroll;
			clearfix();
		}
		.deck-container {
			cursor: pointer;
			width: width;
			height: 263px;
			padding-top: 35px;
			float: left;
			background-position: center center;
			position: relative;
			margin: 0 40px;
		}
	}

