@import '../decks/mixins.styl';
global-reset();



.red-button {
	red-button();
}

.wood-button { 
	wood-button();
}

/**
 * Main
 */

#level-progress {
	position: absolute;
	z-index: 9999;
	font: 18px/25px Fresca;
	padding: 0 5px;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(black, .5);
}

.back-button {
	back-button();
}


.small-grid {
	float: left;
	width: 798px;
	height: 100%;
	clearfix();
	height = 299px;
	width = 150px;
	height: 617px;
	width: 798px;
	overflow-y: auto;
	overflow-x: hidden;
	&::-webkit-scrollbar { width: 0 }
	background-image: url('/img/smallShelf.jpg');
	.shelf-wrapper {
		padding: 0 0 30px 54px;
		width: 745px;
		background-image: url('/img/smallShelf.jpg');
		background-repeat: repeat;
		background-attachment: scroll;
		clearfix();
	}
	.deck-container {
		cursor: pointer;
		width: width;
		height: 263px;
		padding-top: 35px;
		float: left;
		background-position: center center;
		position: relative;
		margin: 0 40px;
	}
}