@import '../decks/mixins.styl';

.dialog .close {
	font-family: arial;
}
// body {
// 	font-family: fresca;
// }

.container {
	height: 100%;
}

#content {
	ipad();
	background: #FFF;
	overflow: hidden;
}

#weo-start {
	transform: translate3d(0,0,0);
}

#start-screen {
	background: url('/img/startBg.png') center center;
	height: 100%;
}

#deckFlow {
	z-index: 9999;
	cursor: move;
	transition: all .4s ease-out;
	display: none;
	position: absolute;
	right: 30px;
	top: 180px;
	height: 370px;
	width: 650px;
	perspective: 700px;
	-moz-perspective-origin: 150% 50%;
	transform-style: preserve-3d;
	transform: translateZ(9999px);
	&.offstage {
		transform: scale(2);
		opacity(0);
	}
	.deck{
		position: absolute;
		width: 210px;
		height: 370px;
		box-shadow: 0 0 0;
		border-radius: 0 0 0;
		.shadow {
			width: 140px;
			left: 39px;
			height: 25px;
			border-radius: 45% 50% 50% 55%;
			background: rgba(#333, .15);
			position: absolute;
			bottom: 0px;
			&.float {
				width: 150px;
				left: 34px;
				height: 25px;
			}
		}
		img {
			position: absolute;
			top: 0;
			&.float {
				top: 15px;
			}
		}

	}
}

#scene {
	img {
		position: absolute;
	}
	.sign {
		top: 0px;
		&.offstage {
			top: -300px;
		}
	}
	.mountain-back {
		left: 180px;
		bottom: 240px;
		&.offstage {
			left: -1200px;
		}
	}
	.mountain-mid {
		left: -350px;
		bottom: 120px;
		&.offstage {
			left: -2000px;
		}
	}
	.mountain-front {
		bottom: 150px;
		left: -100px;
		&.offstage {
			left: -2000px;
		}
	}
	.temple {
		bottom: 150px;
		left: 30px;
		&.offstage {
			left: -450px;
		}
	}
	.ground {
		bottom: 0;
		&.offstage {
			bottom: -500px;
		}
	}
	.guru {
		bottom: 150px;
		left: 70px;
		&.offstage {
			bottom: -350px;
		}
	}
}

// #scene {
// 	img {
// 		position: absolute;
// 	}

// 	.sign {
// 		top: 0px;
// 	}
// 	.mountain-back {
// 		left: 180px;
// 		bottom: 240px;
// 		transition: left 1.5s easing('easeOutBack');
// 	}
// 	.mountain-mid {
// 		bottom: 120px;
// 		left: -350px;
// 		transition: left 1.4s easing('easeOutBack');
// 	}
// 	.mountain-front {
// 		bottom: 150px;
// 		left: -100px;
// 		transition: left 1.3s easing('easeOutBack');
// 	}
// 	.temple {
// 		bottom: 150px;
// 		left: 30px;
// 		&.offstage {
// 			left: -450px;
// 		}
// 	}
// 	.ground {
// 		bottom: 0;
// 		&.offstage {
// 			bottom: -500px;
// 		}
// 	}
// 	.guru {
// 		bottom: 150px;
// 		left: 70px;
// 		&.offstage {
// 			bottom: -350px;
// 		}
// 	}	

// 	&.offstage {
// 		.sign {
// 			top: -300px;
// 		}
		
// 		.mountain-back {
// 			left: -1200px;
// 		}

// 		.mountain-mid {
// 			left: -2000px;
// 		}
// 		.mountain-front {
// 			left: -2000px;
// 		}
// 		.temple {
// 			bottom: 150px;
// 			left: -450px;
// 		}
// 		.ground {
// 			bottom: -500px;
// 		}
// 		.guru {
// 			left: 70px;
// 			bottom: -350px;
// 		}	
// 	}
// }