@import '../decks/client/mixins.styl'

/**
 * Goat Browse
 */

.cloud {
	height: 170px;
	width: 210px;
	margin: 0 0 -20px 40px;
	background: url('/app!decks/img/cloud.png');
	text-align: center;
	font: 32px/180px 'Fresca';
	color: #444;
	text-shadow: -1px -1px 0 #000;
}


/**
 * Friend Browse
 */

.browse-user {
	clearfix();
	position relative;
	.avatar {
		margin: 30px 10px 0 20px;
		float: left;
		z-index: 1;
		position: relative;
	}

	.category-title {
		margin-top: 25px !important;
	}
	.level {
		level();
		z-index: 0;
		border: 0;
		left: 100px;
		box-shadow: inset 1px 1px 0 rgba(white, .5), inset -1px -1px 0 rgba(black, .5);
	}
	.filters {
		margin: 15px 0 0 150px;
	}
}

status-icon(color) {
	content: '';
	color: #FFF;
	height: 10px;
	width: 10px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -5px;
	background: color;
	border-radius: 50%;
	box-shadow: inset 1px 1px 0 rgba(white, .3), inset -1px -1px 0 rgba(black, .3);
}


// .friends-browse {
// 	.disconnected {
// 		position: relative;
// 		&:after {
// 			status-icon(black);
// 		}
// 	}
// 	.connected {
// 		position: relative;
// 		&:after {
// 			status-icon(lighten(green, 10));
// 		}
// 	}
// 	.busy {
// 		position: relative;
// 		&:after {
// 			status-icon(red);
// 		}
// 	}
// }

.friends-browse, #tome-view {
	height: 100%;
	.browse {
		width: 724px !important;
		padding: 0 0 0 3px !important;
		float: none !important;
		woodSides();
		&:after { top: 0px }
	}
}

.sidebar.buddy-list {
	position: relative;
	.sidebar-inner {
		padding: 0 17px;
		background: url('/app!common/textures/handmadepaper.png');
		overflow-y: auto;
		height: 100%;
	}
	woodSides();
	&:after { top: 0px }

	h3 {
		text-align: center;
		margin: 50px 0 -19px;
	}

	.buddy {
		padding: 10px 10px;
		height: 40px;
		font: 17px/40px 'Fresca';
		text-transform: uppercase;
		clearfix();
		transition: background-color .2s;
		cursor: pointer;
		&:hover {
			background-color: rgba(#333, .1);
		}
		&.active {
			transition: background-color .4s;
			background-color: rgba(#000, .2);
		}
		.avatar-thumb {
			height: 40px;
			width: 40px;
			float: left;
			display: block;
			margin-right: 15px;
		}
		p {
			width: 105px;
			overflow: ellipsis;
		}
		&.busy {
			position: relative;
			&:after {
				status-icon(orange);
			}
		}
		&.disconnected {
			position: relative;
			&:after {
				status-icon(red);
			}
		}
		&.connected {
			position: relative;
			&:after {
				status-icon(lighten(green, 10));
			}
		}
	}
}

.create-buttons {
	float: right;
	margin-right: 10px;
	position: relative;
	z-index: 2;
	.create-button {
		float: right; 
		color: #FFF;
		font: 18px/1em 'BleakChop';
		text-shadow: 1px 1px 0 rgba(black, .5);
		border-radius: 6px;
		box-shadow: inset 1px 1px 0 rgba(white, .3), inset -1px -1px 0 rgba(black , .5), 0 0 8px rgba(black, .8);
		background: red;
		text-align: center;
		margin: 25px 10px 0;
		padding: 5px 10px;
		cursor: pointer;
		&:hover {
			box-shadow: inset 1px 1px 0 rgba(white, .3), inset -1px -1px 0 rgba(black , .5), 0 0 10px rgba(black, .9);
		}
		&:active {
			margin-top: 26px;
			box-shadow: inset 1px 1px 0 rgba(white, .3), inset -1px -1px 0 rgba(black , .5), 0 0 8px rgba(black, .8);
		}
	}
}

.browse-filter {
	text-input();
	background: url('/app!decks/img/woodRepeat.jpg');
	float: left;
	margin-left: 10px;
	text-shadow: 1px 1px 0 rgba(black, .5), 0 0 5px rgba(white, .3);
	color: #FFF;
}

.browse-button {
	toggle-button();
	font: 17px 'Fresca';
	float: left;
	color: #FFF;
	text-shadow: 1px 1px 0 rgba(black, .5), 0 0 5px rgba(white, .3);
	margin: 0 5px;
	padding: 4px 13px;
	background: url('/app!decks/img/woodRepeat.jpg');
	&:active, &.active { 
		color: rgba(white, .5);
	}
}


.twist-stars {
	background-image: url("/app!decks/img/twist-stars.png");
	background-position: 0px 0px;
	width: 70px;
	height: 25px;
	position: absolute;
	bottom: 17px;
	left: 50%;
	margin-left: -35px;
}

.twist-stars-1 { background-position: 0 -24px; }
.twist-stars-2 { background-position: 0 -48px; }
.twist-stars-3, .twist-stars-4, .twist-stars-5 { background-position: 0 -72px; }
// .twist-stars-4 { background-position: 0 -90px; }
// .twist-stars-5 { background-position: 0 -112px; }



/**
 * My Collection
 */

// .collection-browse {
// 	height: 100%;
// 	overflow-y: auto;
// 	width: 920px;
// 	margin: 0 auto;
// 	.category-title {
// 		margin-top: 20px !important;
// 		float: none;
// 	}
// 	.collection-left-nav {
// 		float: left;
// 	}
// 	.filters {
// 		float: left;
// 		margin: 10px 0 0 20px;
// 	}
// 	.collection-nav {
// 		clear: both;
// 		clearfix();
// 	}
// 	.create-buttons {
// 		float: right;
// 		margin-right: 10px;
// 		.create-button {
// 			float: right; 
// 			color: #FFF;
// 			font: 18px/1em 'BleakChop';
// 			text-shadow: 1px 1px 0 rgba(black, .5);
// 			border-radius: 6px;
// 			box-shadow: inset 1px 1px 0 rgba(white, .3), inset -1px -1px 0 rgba(black , .5), 0 0 8px rgba(black, .8);
// 			background: red;
// 			text-align: center;
// 			margin: 34px 10px 0;
// 			padding: 5px 10px;
// 			cursor: pointer;
// 			&:hover {
// 				box-shadow: inset 1px 1px 0 rgba(white, .3), inset -1px -1px 0 rgba(black , .5), 0 0 10px rgba(black, .9);
// 			}
// 			&:active {
// 				margin-top: 35px;
// 				box-shadow: inset 1px 1px 0 rgba(white, .3), inset -1px -1px 0 rgba(black , .5), 0 0 8px rgba(black, .8);
// 			}
// 		}
// 	}
// }
