@import '../decks/main.styl';

height = 617px;

#social-screen {
	ipad();
	height: 100%;
	background: url('/img/woodBg.jpg') center no-repeat;
	.chat {
		width: 216px;
		height: height;
		background: #FFF;
		float: left;
		padding: 20px;
	}
}

#buddy-list {
	width: 226px;
	float: left;
	height: height;
	background-image: url('/app!common/textures/roughcloth.png');
	box-shadow: 0 0 40px #000;
	.buddy{
		width: 186px;
		// background-image: url('/img/shelf.jpg');
		background-position:  center center;
		background-repeat: repeat-x;
		cursor: pointer;
		transition: background-color .3s;
		padding: 10px 20px;
	}
	.buddy-list-bg {
		position: absolute;
		top: 0;
		pointer-events: none;
	}

	.avatar-tmb-small {
		box-shadow: 0 0 0px #333, inset 0 0 20px #111;
		size = 40px;		
		height: size;
		width: size;
		float: left;
		display: block;
		margin-right: 15px;
		transition: all .3s;
		background-repeat: no-repeat;
		background-size: size;
		background-position: center;
	}

	p {
		font: 18px/43px 'Fresca';
		color: #333;
		text-shadow: -1px -1px 0 rgba(white, .5);	
	}

	.buddy:hover { 
		background-color: rgba(black, .08);
	}

	.buddy.active { 
		background-color: rgba(black, .12);
		.avatar-tmb-small {
			box-shadow: 0 0 10px #111, inset 0 0 0 #000;
		}
	}
}

#active-friend {
	width: 798px;
	height: 82px;
	float: left;
	position: relative;
	z-index: 0;
	.avatar {
		margin: 0 auto 10px;
		height: 120px;
		width: 120px;
		background-position: center center;
		background-repeat: no-repeat;
		display: none;
	}
	.collection-button {
		float: right;
		width: 204px;
		height: 74px;
		// margin: 40px auto 0px;
		background-image: url('/img/collection-button.png');
		background-position: center top;
		cursor: pointer;
		margin-top: 7px;
		opacity(.2);
		&:hover {
			background-position: center 70px;
		}
		&:active {
			margin-top: 8px;
		}
	}
	// .play-button {
	// 	float: right;
	// 	position: static;
	// 	clear: none;
	// 	&:active {
	// 		margin-top: 1px;
	// 	}
	// }
}

#opponent-decks {
	width: 692px;
	height: 535px;
	float: left;
	padding: 0px 53px;
	.deck {
		margin: 30px 0 0;
		cursor: pointer;
	}

	.dialog {
		.deck {
			margin: 10px auto 40px;
			cursor: default;
		}
		.challenge-button {
		 	right: 0;
		 	bottom: 0;
		 	&:active {
		 		bottom: -1px;
		 	}
		}
	}
}

// #message-box {
// 	position: absolute;
// 	bottom: 20px;
// 	width: 196px;
// 	height: 110px;
// 	padding: 5px 10px;
// 	font: 18px/1.2em 'Fresca';
// 	resize: none;
// }
