@import '../decks/client/mixins.styl'

.create-container {
	height: 100%;
	overflow-y: auto;
	// width: 963px;
	background: url('/app!common/textures/handmadepaper.png');
	woodSides();
	&:before, &:after {
		top: 0;
	}

	.dialog {
		.form-label {
		  font-weight: bold;
		  float: left;
		  margin-right: 15px;
		}

		.form {
			float: right;
			width: 320px;
		}	
		input, textarea {
			width: 300px;
			padding: 4px 6px;
			font-size: 13px;
			height: 18px;
			color: #999;
			border: 1px solid #d9d9d9;
			border-top: 1px solid #c0c0c0;
		}

		textarea {
			resize: none;
			height: 100px;
		}

		.buttons {
			font-family: 'Helvetica Neue', Helvetica;
			> div {
				font-size: 13px;
				float: left;
				margin: 10px 10px 10px 0;
				text-align: center;
				padding: 6px 10px;
				border-radius: 3px;
				text-transform: capitalize;
				&.save {
					button-gradient(blue);
					border: 1px solid darken(blue, 5);
					color: #FFF;
				}
				&.cancel {
					button-gradient(#EEE);
					border: 1px solid darken(#EEE, 6);
				}
			}

		}
	}
}

.create-header {
	height: 50px;
	z-index: 3;
	position: absolute;
	clearfix();
	width: 100%;
	background: blue;
	border-bottom: 1px solid darken(blue, 20);
	box-shadow: 0 3px 5px rgba(black, .3), inset 0 -5px 15px rgba(black, .2); 
	h4 {
		line-height: 49px;
		float: left;
		padding-left: 30px;	
	}
}

.create-view {
	height: 100%;
	width: 100%;
	&.preview {
		.create-container {
			background: none;
		}
	}
	.tab {
		display: none;
		width: 980px;
		padding: 50px 0px 0;
		&.active {
			display: block;
		}
	}

	#scroll-preview {
		width: 980px;
	}

	.category-title {
		float: left;
	}

	#image-upload { display: none; }

	.input, .big-tome {
		cursor: pointer;
		width: 370px;
		margin: 10px auto;
		&:first-child {
			margin-top: 0;
		}
		&.big-tome {
			width: 264px
			margin-top: 0px;
		}
		&:hover {
			background-color: rgba(blue, .2);
		}
		&:active  {
			outline: 2px solid blue;
			background-color: rgba(blue, .2);
			box-shadow: 0 0 10px blue, inset 0 0 5px blue;
		}
		p {
			padding-bottom: 10px;
		}
	}

	

	.scroll-info-nav {
		float: right;
		margin-right: 20px;
		li {
			float: left;
			height: 37px;
			width: 37px;
			background-color: rgba(black, .15);
			background-image: url('/app!decks/img/create-nav.png');
			background-position: 1px 0;
			margin: 6px 0 6px 1px;
			text-align: center;
			line-height: 35px;
			transition: background-color 200ms linear;
			cursor: pointer;
			radius = 5px;

			&.info { background-position: 111px 0; }
			&.compose { background-position: 78px 0; }
			&.zebra { background-position: 185px 0; }
			&.add-scrolls { background-position: 114px 38px; }
			&.view-scrolls { background-position: 149px 37px; }

			&:first-child {
				border-radius: radius 0 0 radius;
			}
			&:last-child {
				border-radius: 0 radius radius 0;
			}
			&:hover {
				background-color: rgba(black, .2);
			}
			&.active {
				background-color: rgba(black, .3);
			}
		}

		&.save {
			li {
				width: auto;
				font-family: 'Fresca';
				background-image: none;
				color: #FFF;
				line-height: 37px;
				padding: 0 15px;
				text-transform: uppercase;
			}
		}
	}

	&.info {
		#info { background-color: rgba(black, .3); }
		#create-info { display: block; }
	}
	&.preview {
		#preview { background-color: rgba(black, .3); }
		#scroll-preview { display: block; }
	}
	&.zebra {
		#zebra { background-color: rgba(black, .3); }
		#zebra-info { display: block; }
	}
	&.editor {
		#editor { background-color: rgba(black, .3); }
		#scroll-editor { display: block; }
	}
	&.add {
		#add { background-color: rgba(black, .3); }
		#scroll-browse { display: block; }
	}
	&.view {
		#view { background-color: rgba(black, .3); }
		#view-scrolls { display: block; }
	}

	/**
	 * Info Tab
	 */

	#create-info {
		height: 100%;
		center {
			background: url('/app!common/textures/handmadepaper.png');
			position: relative;
			min-height: 100%;
			width: 526px;
			padding: 0 17px;
			box-shadow: 0 0 20px rgba(black, 1);
			woodSides();
			margin: 0 auto;
			z-index: 0;
			&:before, &:after{
				top: 0;
			}
		}
		p {
			font-family: 'Fresca';
		}
	}

	/**
	 * Preview Tab
	 */
	
	.tracker {
		float: left;
	}

}

/**
 * Scroll Tables
 */

.category.scrolls {
	clearfix();
	width: 963px;
	overflow: visible;
	background: url('/app!common/textures/handmadepaper.png');
	.shelf {
		margin-left: 10px;
		margin-bottom: 0;
	}
	.scroll-view-header {
		clearfix();
		.category-title {
			margin-top: 10px !important;
			color: #666;
		}
		.create-filter {
			text-input();
			box-shadow: inset 0 0 5px rgba(black, 1);
			border: 1px solid #FFF;
			margin: 27px 0 0 20px;
			&:focus {
				box-shadow: inset 0 0 5px rgba(black, .8);
			}
		}
	}
}

.assigned .scroll-info-view:hover {
	background-color: red;
}

.scroll-info-view {
	padding: 20px 0px 20px 40px ;
	border-bottom: 1px dashed rgba(#CCC, .7);
	background: url('/app!common/textures/handmadepaper.png');
	clearfix();
	cursor: pointer;
	&:hover {
		background-image: url('/app!common/textures/handmadepaperA85.png');
		background-color: rgba(blue, 1);
	}
	.inner-scroll-info {
		float: left;
		height: 100%;
		font-family: 'Fresca';
		margin-right: 25px;
	}

	.tags {
		float: right;
		font-size: 14px;
		color: #444;
		width: 250px;
		line-height: 1.5em;
		overflow: ellipsis;
		text-align: right;
		span {
			margin-right: 15px;
		}

		.label {
			font: 18px 'BleakChop';
			margin-right: 0;
			color: blue;
		}
	}

	.created-by {
		font-size: 14px;
		margin-bottom: 5px;
		display: block;
		color: #777;
	}

	h4 {
		font-size: 25px;
		color: blue;
		text-shadow: 0 0 0;
	}
}

ace_margin_top = 10px;
#ace-editor-wrap {
	margin-left: 17px;
	background: url("/app!common/textures/handmadepaper.png");
	padding-bottom: 100px
}

#ace-editor {
	margin: 0;
	position: absolute;
	width: 946px;
}

.ace_print_margin {
	display: none;
}

gutter_width= 100px;

#ace-editor-wrap {
	.ace_scroller {
		background: transparent;
	}

	.ace_gutter_top {
		border-right: 1px solid #CCC;
		height: ace_margin_top;
		width: gutter_width;
	}

	.ace_gutter {
		color: #AAA;
		border-right: 1px solid #CCC;
		background: transparent;
		width: gutter_width;
	}

	.ace_gutter-layer {
		width: gutter_width !important;
	}

	.ace_active_line {
		background: transparent;
	}
}

.zebra-markdown-wrap {
	margin-left: 17px;
	width: 886px;
	padding: 30px;
}
