red-button() {
	background-image: url('/img/red-button.png');
	right: 5px;
	bottom: 10px;
	width: 160px;
	height: 80px;
	text-align: center;
	font: 20px/80px "Fresca";
	color: #FFF;
	text-shadow: -1px 1px 0 rgba(black, .5);
	&:hover {
		background-position: 0px 81px;
	}
	&:active{
		bottom: 9px;
	}
}