@import '../decks/client/mixins.styl';


#nav.game-nav {

	#game-opponent, #game-me {
		width: 428px;
		.avatar {
			cursor: default;
			&:hover {
				margin-top: 0;
				box-shadow: 0 0 10px rgba(black, .7);
			}
		}
	}

	#game-opponent, #game-me, #vs {
		float: left;
		position: relative;
		margin-bottom: -30px;
	}
	#vs {
		top: 1px;
		img {
			margin-left: -2px;
		}
	}
	.nav-user {
		position: relative;
		width: 100%;
	}

	#game-opponent {
		.nav-user {
			.avatar {
				left: -10px;
			}
			.level {
				left: 80px;
			}
			.progress-bar {
				left: 142px;
				width: 165px;
			}
		}
	}

	#game-me {
		.nav-user {
			.avatar {
				left: auto;
				right: -10px;
			}
			.level {
				left: auto;
				right: 80px;
			}
			.progress-bar {
				left: auto;
				right: 142px;
				width: 165px;
				.inner-bar {
					float: right;
				}
			}
		}
	}

	.big-stars {
		position: absolute;
		top: 54px;
		left: 105px;
		width: 175px;
		height: 37px;
		background-image: url("/app!decks/img/big-stars.png");
		background-position: 180px 0;
		z-index: 1;
	}

	.big-stars-1 { background-position: -144px 0; }
	.big-stars-2 { background-position: -109px 0; }
	.big-stars-3 { background-position: -74px 0; }
	.big-stars-4 { background-position: -39px 0; }
	.big-stars-5 { background-position: -4px 0; }
}
