@import url("http://fonts.googleapis.com/css?family=Fresca");
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'HighlandsRegular';
  src: url("/app!common/fonts/highlands-regular-webfont.eot");
  src: url("/app!common/fonts/highlands-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/app!common/fonts/highlands-regular-webfont.woff") format("woff"), url("/app!common/fonts/highlands-regular-webfont.ttf") format("truetype"), url("/app!common/fonts/highlands-regular-webfont.svg#HighlandsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MayonaiseCondRegular';
  src: url("/app!common/fonts/mayonaise-condensed-webfont.eot");
  src: url("/app!common/fonts/mayonaise-condensed-webfont.eot?#iefix") format("embedded-opentype"), url("/app!common/fonts/mayonaise-condensed-webfont.woff") format("woff"), url("/app!common/fonts/mayonaise-condensed-webfont.ttf") format("truetype"), url("/app!common/fonts/mayonaise-condensed-webfont.svg#MayonaiseCondRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WisdomScript';
  src: url("/app!common/fonts/wisdom_script-webfont.eot");
  src: url("/app!common/fonts/wisdom_script-webfont.eot?#iefix") format("embedded-opentype"), url("/app!common/fonts/wisdom_script-webfont.woff") format("woff"), url("/app!common/fonts/wisdom_script-webfont.ttf") format("truetype"), url("/app!common/fonts/wisdom_script-webfont.svg#MayonaiseCondRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 72, ../../common/public/sass/mixins.scss */
body {
  font-family: Arial;
  background: #EEE;
  height: 100%;
}

/* line 80, ../../common/public/sass/mixins.scss */
h1, h2, h3, h4, h5 {
  font-family: HighlandsRegular;
  text-transform: uppercase;
}

/* line 86, ../../common/public/sass/mixins.scss */
#content {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}

/* line 92, ../../common/public/sass/mixins.scss */
a {
  text-decoration: none;
}

/* line 12, ../sass/screen.scss */
.container {
  height: 100%;
}

/* line 17, ../sass/screen.scss */
#content {
  width: 1024px;
  height: 672px;
  background: #FFF;
  overflow: hidden;
}

/* line 23, ../sass/screen.scss */
#weo-start {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 30, ../sass/screen.scss */
#start-screen {
  background: url(/img/startBg.png) center center;
  height: 100%;
}

/* line 36, ../sass/screen.scss */
#deckFlow {
  z-index: 9999;
  cursor: move;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  display: none;
  position: absolute;
  right: 30px;
  top: 180px;
  height: 370px;
  width: 650px;
  -webkit-perspective: 700px;
  -moz-perspective: 700px;
  -ms-perspective: 700px;
  -o-perspective: 700px;
  perspective: 700px;
  -moz-perspective-origin: 150% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(99999px);
  -moz-transform: translateZ(99999px);
  -ms-transform: translateZ(99999px);
  -o-transform: translateZ(99999px);
  transform: translateZ(99999px);
}
/* line 50, ../sass/screen.scss */
#deckFlow.offstage {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 54, ../sass/screen.scss */
#deckFlow .deck {
  position: absolute;
  width: 210px;
  height: 370px;
}
/* line 58, ../sass/screen.scss */
#deckFlow .deck .shadow {
  width: 140px;
  left: 39px;
  height: 25px;
  -webkit-border-radius: 45% 50% 50% 55%;
  -moz-border-radius: 45% 50% 50% 55%;
  -ms-border-radius: 45% 50% 50% 55%;
  -o-border-radius: 45% 50% 50% 55%;
  border-radius: 45% 50% 50% 55%;
  background: rgba(51, 51, 51, 0.15);
  position: absolute;
  bottom: 0px;
}
/* line 66, ../sass/screen.scss */
#deckFlow .deck .shadow.float {
  width: 150px;
  left: 34px;
  height: 25px;
}
/* line 72, ../sass/screen.scss */
#deckFlow .deck img {
  position: absolute;
  top: 0;
}
/* line 75, ../sass/screen.scss */
#deckFlow .deck img.float {
  top: 15px;
}

/* line 84, ../sass/screen.scss */
#scene img {
  position: absolute;
}
/* line 87, ../sass/screen.scss */
#scene .sign {
  top: 0px;
}
/* line 89, ../sass/screen.scss */
#scene .sign.offstage {
  top: -300px;
}
/* line 93, ../sass/screen.scss */
#scene .mountain-back {
  left: 180px;
  bottom: 240px;
}
/* line 96, ../sass/screen.scss */
#scene .mountain-back.offstage {
  left: -1200px;
}
/* line 100, ../sass/screen.scss */
#scene .mountain-mid {
  left: -350px;
  bottom: 120px;
}
/* line 103, ../sass/screen.scss */
#scene .mountain-mid.offstage {
  left: -2000px;
}
/* line 107, ../sass/screen.scss */
#scene .mountain-front {
  bottom: 150px;
  left: -100px;
}
/* line 110, ../sass/screen.scss */
#scene .mountain-front.offstage {
  left: -2000px;
}
/* line 114, ../sass/screen.scss */
#scene .temple {
  bottom: 150px;
  left: 30px;
}
/* line 117, ../sass/screen.scss */
#scene .temple.offstage {
  left: -450px;
}
/* line 121, ../sass/screen.scss */
#scene .ground {
  bottom: 0;
}
/* line 123, ../sass/screen.scss */
#scene .ground.offstage {
  bottom: -500px;
}
/* line 127, ../sass/screen.scss */
#scene .guru {
  bottom: 150px;
  left: 70px;
}
/* line 130, ../sass/screen.scss */
#scene .guru.offstage {
  bottom: -350px;
}

/* line 143, ../sass/screen.scss */
#browse-screen {
  width: 3072px;
}
/* line 145, ../sass/screen.scss */
#browse-screen .awning {
  height: 55px;
  background: url("/app!common/textures/blue-scale.png");
  -webkit-box-shadow: 0 3px 15px #333333;
  -moz-box-shadow: 0 3px 15px #333333;
  box-shadow: 0 3px 15px #333333;
  font-family: 'Fresca';
  font-size: 40px;
  color: #EEE;
  line-height: 55px;
  padding: 0 20px;
}
/* line 157, ../sass/screen.scss */
#browse-screen .play-placeholder {
  margin-left: -100%;
  float: left;
  height: 100%;
  background: url(../img/browseBg.jpg) center center no-repeat;
  width: 1024px;
  height: 672px;
}
/* line 164, ../sass/screen.scss */
#browse-screen .browse {
  float: left;
  height: 100%;
  background: url(../img/browseBg.jpg) center center no-repeat;
  width: 1024px;
  height: 672px;
}

/* line 172, ../sass/screen.scss */
#deck-grid {
  height: 220px;
  width: 850px;
  visibility: hidden;
  margin: 150px auto 0;
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
}
/* line 181, ../sass/screen.scss */
#deck-grid .deck-container {
  cursor: pointer;
  width: 150px;
  height: 220px;
  float: left;
  background-position: center center;
  position: relative;
}
/* line 188, ../sass/screen.scss */
#deck-grid .deck-container .shadow {
  position: absolute;
  bottom: 5px;
  -webkit-border-radius: 45% 45% 65% 65%;
  -moz-border-radius: 45% 45% 65% 65%;
  -ms-border-radius: 45% 45% 65% 65%;
  -o-border-radius: 45% 45% 65% 65%;
  border-radius: 45% 45% 65% 65%;
  background: rgba(51, 51, 51, 0.3);
  width: 95px;
  height: 18px;
  left: 25px;
}

/* line 200, ../sass/screen.scss */
.dialog {
  width: 700px;
}
/* line 202, ../sass/screen.scss */
.dialog .content {
  padding: 0;
}
/* line 205, ../sass/screen.scss */
.dialog h2 {
  background: #333;
  color: #FFF;
  padding: 0 10px;
  font-size: 30px;
  line-height: 1.5em;
  text-align: center;
}
/* line 213, ../sass/screen.scss */
.dialog .close {
  top: 8px;
  right: 8px;
  color: #EEE;
  border-color: #EEE;
  background: #222;
}
/* line 219, ../sass/screen.scss */
.dialog .close:hover {
  color: #FFF;
  border-color: #FFF;
}
/* line 225, ../sass/screen.scss */
.dialog .deck-image {
  padding: 30px;
  float: left;
  width: 250px;
  height: 300px;
  background: #dddddd url(/img/deckBurst.png) 14px -4px no-repeat;
}
/* line 231, ../sass/screen.scss */
.dialog .deck-image .deck {
  float: none;
  margin: 20px auto 0;
  height: 240px;
  width: 142px;
  display: block;
}
/* line 238, ../sass/screen.scss */
.dialog .deck-image p {
  font-size: 30px;
  font-family: MayonaiseCondRegular;
  text-align: center;
}
/* line 245, ../sass/screen.scss */
.dialog .deck-meta {
  float: right;
  padding: 30px;
  width: 330px;
}
/* line 249, ../sass/screen.scss */
.dialog .deck-meta .meta {
  clear: both;
  min-height: 30px;
  margin-bottom: 10px;
}
/* line 254, ../sass/screen.scss */
.dialog .deck-meta h3 {
  font-family: Fresca;
  font-size: 25px;
  float: left;
  width: 140px;
  line-height: 14px;
}
/* line 261, ../sass/screen.scss */
.dialog .deck-meta p {
  float: left;
  width: 180px;
  font-size: 20px;
  font-family: fresca;
}
/* line 267, ../sass/screen.scss */
.dialog .deck-meta .clear {
  clear: both;
}
/* line 270, ../sass/screen.scss */
.dialog .deck-meta .play-button {
  cursor: pointer;
  width: 160px;
  height: 80px;
  float: right;
  clear: both;
  background: url(/img/playButton.png);
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
}
/* line 281, ../sass/screen.scss */
.dialog .deck-meta .play-button:hover {
  background-position: 0px 81px;
}
/* line 284, ../sass/screen.scss */
.dialog .deck-meta .play-button:active {
  bottom: 9px;
}
