@import url("http://fonts.googleapis.com/css?family=Fresca");
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'HighlandsRegular';
  src: url("/app!common/fonts/highlands-regular-webfont.eot");
  src: url("/app!common/fonts/highlands-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/app!common/fonts/highlands-regular-webfont.woff") format("woff"), url("/app!common/fonts/highlands-regular-webfont.ttf") format("truetype"), url("/app!common/fonts/highlands-regular-webfont.svg#HighlandsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MayonaiseCondRegular';
  src: url("/app!common/fonts/mayonaise-condensed-webfont.eot");
  src: url("/app!common/fonts/mayonaise-condensed-webfont.eot?#iefix") format("embedded-opentype"), url("/app!common/fonts/mayonaise-condensed-webfont.woff") format("woff"), url("/app!common/fonts/mayonaise-condensed-webfont.ttf") format("truetype"), url("/app!common/fonts/mayonaise-condensed-webfont.svg#MayonaiseCondRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WisdomScript';
  src: url("/app!common/fonts/wisdom_script-webfont.eot");
  src: url("/app!common/fonts/wisdom_script-webfont.eot?#iefix") format("embedded-opentype"), url("/app!common/fonts/wisdom_script-webfont.woff") format("woff"), url("/app!common/fonts/wisdom_script-webfont.ttf") format("truetype"), url("/app!common/fonts/wisdom_script-webfont.svg#MayonaiseCondRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KatanaRegular';
  src: url("/app!common/fonts/katanf-webfont.eot");
  src: url("/app!common/fonts/katanf-webfont.eot?#iefix") format("embedded-opentype"), url("/app!common/fonts/katanf-webfont.woff") format("woff"), url("/app!common/fonts/katanf-webfont.ttf") format("truetype"), url("/app!common/fonts/katanf-webfont.svg#KatanaRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial;
  background: #EEE;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: HighlandsRegular;
  text-transform: uppercase;
}

#content {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
}

#mute-button {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  cursor: pointer;
  text-decoration: line-through;
}
#mute-button.muted {
  text-decoration: none;
}

#deck-grid {
  -webkit-transition: height 0.7s ease-out;
  -moz-transition: height 0.7s ease-out;
  -o-transition: height 0.7s ease-out;
  transition: height 0.7s ease-out;
  position: relative;
}
#deck-grid .deck-container {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(120deg) scale(0.001);
  -moz-transform: rotateY(120deg) scale(0.001);
  -ms-transform: rotateY(120deg) scale(0.001);
  -o-transform: rotateY(120deg) scale(0.001);
  transform: rotateY(120deg) scale(0.001);
  cursor: pointer;
  position: absolute;
}

#decks-title {
  text-align: center;
  font-size: 40px;
  margin: 30px 0;
  color: #999;
}

.card-container, .deck-container {
  height: 150px;
  width: 150px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  z-index: 0;
}

.deck-container .deck, .deck-container .card, .card-container .deck, .card-container .card {
  height: 100%;
  width: 100%;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}
.deck-container .front, .deck-container .back, .card-container .front, .card-container .back {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), 0 0 7px #333333;
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), 0 0 7px #333333;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), 0 0 7px #333333;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.deck-container .front, .card-container .front {
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.deck-container .back, .card-container .back {
  position: absolute;
  left: 0;
  padding: 10px;
  width: 130px;
  height: 130px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  font: 16px/1.2em sans-serif;
  color: #FFF;
  background: rgba(0, 0, 0, 0.3);
  background: url("/app!common/textures/low_contrast_linen.png");
  bottom: 0;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.deck-container .back .play, .card-container .back .play {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(#ffffff, #dddddd);
  background: -moz-linear-gradient(#ffffff, #dddddd);
  background: -o-linear-gradient(#ffffff, #dddddd);
  background: linear-gradient(#ffffff, #dddddd);
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  width: 100px;
  color: #333;
  padding: 5px;
  display: block;
  text-align: center;
}
.deck-container .back .play:hover, .card-container .back .play:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(#dddddd, #ffffff);
  background: -moz-linear-gradient(#dddddd, #ffffff);
  background: -o-linear-gradient(#dddddd, #ffffff);
  background: linear-gradient(#dddddd, #ffffff);
}
.deck-container.view-more .front, .card-container.view-more .front {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.deck-container.view-more .back, .card-container.view-more .back {
  z-index: 99;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.deck-container.close, .card-container.close {
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.deck-container.close .back, .deck-container.close .front, .card-container.close .back, .card-container.close .front {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.stage {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  pointer-events: none;
}

#playground {
  position: relative;
  height: 400px;
  margin-top: 30px;
  background: url("/app!common/textures/45degreee_fabric.png");
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #333333;
  -moz-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
  padding: 20px;
}
#playground.hide {
  display: none;
}
#playground .card-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#playground .card-container .front {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
#playground .card-container .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
#playground h3 {
  font-size: 50px;
  line-height: 1.5em;
  color: #999;
  text-shadow: -1px -1px 0 #333333;
  text-align: center;
}
#playground #play-area {
  float: left;
  width: 555px;
  height: 400px;
}
#playground #play-area .question {
  color: #999;
  text-shadow: -1px -1px 0 #333333;
  font-size: 60px;
  line-height: 1.2em;
  text-align: center;
}

#play-meta {
  float: right;
  width: 320px;
  height: 360px;
  padding: 20px;
  background: #FFF;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #333333;
  -moz-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
}

#bar {
  float: left;
  width: 50px;
  height: 100%;
  background: #CCC;
  position: relative;
}
#bar .fill {
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #87CEEB;
}

#deck-dock {
  margin-top: 20px;
  height: 150px;
  width: 100%;
  position: relative;
}
#deck-dock > div {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  width: 150px;
  height: 150px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}
#deck-dock > div > div {
  position: absolute;
  cursor: pointer;
  width: 150px;
  height: 150px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#deck-dock #answered {
  z-index: 999 !important;
}
#deck-dock #answered .deck-container {
  z-index: 999;
}

.card-container {
  -webkit-transition-property: -webkit-transform, height, width;
  -moz-transition-property: -moz-transform, height, width;
  -o-transition-property: -o-transform, height, width;
  transition-property: transform, height, width;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.card-container .front {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.card-container .front, .card-container .back {
  -webkit-transition-property: -webkit-transform, height, width;
  -moz-transition-property: -moz-transform, height, width;
  -o-transition-property: -o-transform, height, width;
  transition-property: transform, height, width;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.card-container .front .solution, .card-container .back .solution {
  width: 100px;
}
.card-container .back-content {
  display: none;
}
.card-container.current .front {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.card-container.current .back {
  z-index: 99;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.card-container.wrong {
  background: #FF3366;
}
.card-container.correct {
  background: #A2E67E;
}

@-webkit-keyframes infinite-spinning {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
  }

  to {
    -webkit-transform: rotate3d(0, 1, 0, 100000deg);
  }
}

.input-area {
  position: absolute;
  height: 592px;
  width: 637px;
  background-color: transparent;
  background-image: url("/create-form.png");
  float: left;
}

#card-inner #rule-container {
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  height: 175px;
  margin-top: 5px;
}
#card-inner #rules {
  width: 100%;
}

.field-wrapper {
  margin: 18% 0px;
}
.field-wrapper div, .field-wrapper input {
  font-size: 18px;
}
.field-wrapper input, .field-wrapper textarea, .field-wrapper option, .field-wrapper select {
  text-indent: 10px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 15px #444444;
  -moz-box-shadow: inset 0 0 15px #444444;
  box-shadow: inset 0 0 15px #444444;
  font-family: 'arial';
  resize: none;
}
.field-wrapper .field {
  width: 370px;
  height: 36px;
  margin: 15px auto;
}
.field-wrapper .field .upload {
  cursor: pointer;
  height: 36px;
  width: auto;
  border: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  padding: 0px 9px;
  -webkit-box-shadow: 0 0px 15px 3px black;
  -moz-box-shadow: 0 0px 15px 3px black;
  box-shadow: 0 0px 15px 3px black;
  background-color: rgba(0, 0, 0, 0.25);
}
.field-wrapper .field .error {
  -webkit-box-shadow: inset 0 0 15px red;
  -moz-box-shadow: inset 0 0 15px red;
  box-shadow: inset 0 0 15px red;
}
.field-wrapper .text {
  font-family: 'WisdomScript';
  width: 39%;
  float: left;
  line-height: 36px;
  text-align: right;
}
.field-wrapper .textarea-field {
  height: 90px;
}
.field-wrapper .textarea-field textarea {
  padding-top: 5px;
  height: 90px;
}

.instant_update {
  height: 36px;
  width: 60%;
  float: right;
  padding: 0px;
  border: none;
}
.instant_update:active {
  border: none;
}

.ipad {
  position: relative;
  overflow: hidden;
  width: 1024px;
  height: 672px;
  background-position: bottom;
  background-color: transparent;
  background-image: url("/create-bg.jpg");
}
.ipad section#viewport {
  position: relative;
  top: 25%;
  margin: 0 auto;
  width: 220.68966px;
  height: 320px;
  -webkit-perspective: none;
  -moz-perspective: none;
  -ms-perspective: none;
  -o-perspective: none;
  perspective: none;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.ipad article#box {
  width: 220.68966px;
  height: 320px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
}
.ipad .transition {
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.ipad #box section {
  cursor: move;
  text-align: center;
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  background-color: rgba(48, 113, 185, 0.5);
  outline: 2px solid #84b4e7;
}
.ipad #box section h1, .ipad #box section h2, .ipad #box section h3 {
  font-family: 'MayonaiseCondRegular';
  font-size: 35px;
  padding: 18.3908px;
  z-index: 1;
}
.ipad #box section p {
  color: #0c233d;
  font-size: 20px;
  line-height: 25px;
}
.ipad #front, .ipad #back {
  width: 220.68966px;
  height: 320px;
  -webkit-transform: translate3d(0px, 0px, 36.78161px);
  -moz-transform: translate3d(0px, 0px, 36.78161px);
  -ms-transform: translate3d(0px, 0px, 36.78161px);
  -o-transform: translate3d(0px, 0px, 36.78161px);
  transform: translate3d(0px, 0px, 36.78161px);
}
.ipad #front .full-image, .ipad #back .full-image {
  left: 0px;
  top: 0px;
  z-index: 0;
  position: absolute;
  height: 320px;
  width: 220.68966px;
}
.ipad #front h1, .ipad #front h2, .ipad #front h3, .ipad #front p, .ipad #back h1, .ipad #back h2, .ipad #back h3, .ipad #back p {
  position: relative;
}
.ipad #front .deck-title, .ipad #back .deck-title {
  padding: 10px;
  margin: 10px auto;
}
.ipad #back {
  -webkit-transform: rotateY(180deg) translate3d(0px, 0px, 36.78161px);
  -moz-transform: rotateY(180deg) translate3d(0px, 0px, 36.78161px);
  -ms-transform: rotateY(180deg) translate3d(0px, 0px, 36.78161px);
  -o-transform: rotateY(180deg) translate3d(0px, 0px, 36.78161px);
  transform: rotateY(180deg) translate3d(0px, 0px, 36.78161px);
}
.ipad #top, .ipad #bottom {
  width: 220.68966px;
  height: 73.56322px;
  -webkit-transform: rotateX(90deg) translate3d(0px, 0px, 36.78161px);
  -moz-transform: rotateX(90deg) translate3d(0px, 0px, 36.78161px);
  -ms-transform: rotateX(90deg) translate3d(0px, 0px, 36.78161px);
  -o-transform: rotateX(90deg) translate3d(0px, 0px, 36.78161px);
  transform: rotateX(90deg) translate3d(0px, 0px, 36.78161px);
}
.ipad #bottom {
  -webkit-transform: rotateX(-90deg) translate3d(0px, 0px, 283.21839px);
  -moz-transform: rotateX(-90deg) translate3d(0px, 0px, 283.21839px);
  -ms-transform: rotateX(-90deg) translate3d(0px, 0px, 283.21839px);
  -o-transform: rotateX(-90deg) translate3d(0px, 0px, 283.21839px);
  transform: rotateX(-90deg) translate3d(0px, 0px, 283.21839px);
}
.ipad #left, .ipad #right {
  width: 73.56322px;
  height: 320px;
  -webkit-transform: rotateY(-90deg) translate3d(0px, 0px, 36.78161px);
  -moz-transform: rotateY(-90deg) translate3d(0px, 0px, 36.78161px);
  -ms-transform: rotateY(-90deg) translate3d(0px, 0px, 36.78161px);
  -o-transform: rotateY(-90deg) translate3d(0px, 0px, 36.78161px);
  transform: rotateY(-90deg) translate3d(0px, 0px, 36.78161px);
}
.ipad #right {
  -webkit-transform: rotateY(90deg) translate3d(0px, 0px, 183.90805px);
  -moz-transform: rotateY(90deg) translate3d(0px, 0px, 183.90805px);
  -ms-transform: rotateY(90deg) translate3d(0px, 0px, 183.90805px);
  -o-transform: rotateY(90deg) translate3d(0px, 0px, 183.90805px);
  transform: rotateY(90deg) translate3d(0px, 0px, 183.90805px);
}
.ipad .title {
  background-color: #3FA9F5;
  height: 75px;
  color: white;
  font-size: 50px;
  line-height: 75px;
  padding: 0px 20px;
  font-family: 'MayonaiseCondRegular';
}
.ipad #look-input, .ipad #template-input {
  left: -800px;
}
.ipad .button {
  cursor: pointer;
  height: 30px;
  margin: 0 auto;
  width: 30px;
  background-size: 100%;
  position: absolute;
  bottom: 93px;
}
.ipad #more-inputs {
  right: 95px;
  background-image: url("/right_arrow.gif");
}
.ipad #prev-inputs {
  right: none;
  left: 95px;
  background-image: url("/left_arrow.gif");
}
.ipad .deck-position {
  float: left;
  width: 387px;
  height: 100%;
  right: 0px;
  position: absolute;
}
.ipad .deck-position .deck-shadow {
  font-family: 'arial';
  top: 95px;
  width: 220.68966px;
  margin: 0 auto;
  position: relative;
  -webkit-perspective: 700px;
  -moz-perspective: 700px;
  -ms-perspective: 700px;
  -o-perspective: 700px;
  perspective: 700px;
}
.ipad .deck-position .drop-shadow {
  margin: 5px auto;
  height: 49.04215px;
  width: 122.60536px;
  -webkit-border-radius: 30% 45% 25% 30%;
  -moz-border-radius: 30% 45% 25% 30%;
  -ms-border-radius: 30% 45% 25% 30%;
  -o-border-radius: 30% 45% 25% 30%;
  border-radius: 30% 45% 25% 30%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0px 20px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0px 20px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 20px 12px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotateX(90deg) translate3d(0px, 0px, 0px);
  -moz-transform: rotateX(90deg) translate3d(0px, 0px, 0px);
  -ms-transform: rotateX(90deg) translate3d(0px, 0px, 0px);
  -o-transform: rotateX(90deg) translate3d(0px, 0px, 0px);
  transform: rotateX(90deg) translate3d(0px, 0px, 0px);
  position: relative;
  bottom: -360px;
}
.ipad .deck-position .spin-button {
  top: -50px;
  position: relative;
  padding: 5px;
  font-family: 'WisdomScript';
  text-align: center;
  width: 28%;
  margin: 0 auto;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.63);
  box-shadow: 0 0px 10px 9px rgba(0, 0, 0, 0.63);
  cursor: pointer;
  color: tomato;
}
.ipad #card {
  width: 220.68966px;
  height: 320px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: black;
}
.ipad #card.flip {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.ipad #card .overflowing {
  display: none;
  position: absolute;
  z-index: 2;
}
.ipad #card #front, .ipad #card #back {
  -webkit-transform: rotateY(0deg) translate3d(0, 0, 2px);
  -moz-transform: rotateY(0deg) translate3d(0, 0, 2px);
  -ms-transform: rotateY(0deg) translate3d(0, 0, 2px);
  -o-transform: rotateY(0deg) translate3d(0, 0, 2px);
  transform: rotateY(0deg) translate3d(0, 0, 2px);
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.ipad #card #back {
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 2px);
  -moz-transform: rotateY(180deg) translate3d(0, 0, 2px);
  -ms-transform: rotateY(180deg) translate3d(0, 0, 2px);
  -o-transform: rotateY(180deg) translate3d(0, 0, 2px);
  transform: rotateY(180deg) translate3d(0, 0, 2px);
}
.ipad #card .display-inner {
  margin: 15px;
  width: 190.68966px;
  height: 290px;
  position: absolute;
  background-color: #123456;
  outline: 2px outset darkGoldenrod;
}
.ipad #card .display-inner .elem {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.ipad #card .display-inner h1, .ipad #card .display-inner h2, .ipad #card .display-inner h3, .ipad #card .display-inner h4, .ipad #card .display-inner h5 {
  text-align: center;
  background-color: #123456;
  color: white;
  font-size: 29px;
  height: 10%;
  overflow: hidden;
  white-space: nowrap;
}
.ipad #card .display-inner img {
  border-bottom: 2px outset darkGoldenrod;
}
.ipad #card .display-inner img, .ipad #card .display-inner .fill {
  width: 100%;
  height: 65%;
}
.ipad #card .display-inner .full {
  height: 75%;
}
.ipad #card .display-inner .text {
  text-align: center;
  overflow: hidden;
}
.ipad #card .display-inner .question {
  position: absolute;
  top: 5%;
  left: 0px;
  width: 100%;
  max-height: 30%;
  font-weight: bold;
}
.ipad #card .display-inner .solution {
  position: absolute;
  top: 90%;
  width: 100%;
  height: 15%;
  font-weight: normal;
}

.tags {
  text-decoration: underline;
  color: blue;
  font-weight: 700;
  margin: 0px 5px;
}

#card-title {
  cursor: pointer;
  text-align: center;
  font-size: 40px;
  margin: 30px 0;
  color: #999;
  text-shadow: 1px 1px #333333;
}

.wrapper {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 820px;
  height: 410px;
}

.selectable {
  position: absolute;
  width: 100%;
  height: 100%;
}

.step-nav-bar {
  width: 978px;
  position: relative;
  height: 30px;
  text-align: center;
  -webkit-box-shadow: 0 0 10px #333333;
  -moz-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  vertical-align: baseline;
}
.step-nav-bar .active {
  background-color: #aaa;
  color: white;
  text-shadow: -1px -1px 0 black;
}
.step-nav-bar .step-nav {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  width: 326px;
  float: left;
}
.step-nav-bar #step-1 {
  border-radius: 8px 0px 0px 8px;
}
.step-nav-bar #step-3 {
  border-radius: 0px 8px 8px 0px;
}

.create {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  left: 1000px;
  position: absolute;
  width: 820px;
  height: 410px;
  margin: 0 auto;
}
.create.active {
  left: 0px;
}

.choose-deck {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(#cccccc, #dddddd);
  background: -moz-linear-gradient(#cccccc, #dddddd);
  background: -o-linear-gradient(#cccccc, #dddddd);
  background: linear-gradient(#cccccc, #dddddd);
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid transparent;
  position: relative;
  margin: auto;
  width: 100px;
  color: #333;
  padding: 5px;
  display: block;
  text-align: center;
}
.choose-deck:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(#dddddd, #cccccc);
  background: -moz-linear-gradient(#dddddd, #cccccc);
  background: -o-linear-gradient(#dddddd, #cccccc);
  background: linear-gradient(#dddddd, #cccccc);
}
.choose-deck:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(#dddddd, #cccccc);
  background: -moz-linear-gradient(#dddddd, #cccccc);
  background: -o-linear-gradient(#dddddd, #cccccc);
  background: linear-gradient(#dddddd, #cccccc);
  border: 2px inset;
}

.display {
  width: 380px;
  height: 380px;
  margin: 15px;
  z-index: 0;
  float: left;
  overflow: auto;
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.4);
  position: relative;
}
.display h2 {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 25px;
  margin-top: 15px;
  text-align: center;
  text-decoration: underline;
  padding: 5px;
  background-color: #333;
  color: white;
  text-shadow: 1px 1px #AAA;
}

.card-section {
  text-align: center;
  margin: 10px;
}
.card-section h2 {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
  font-family: WisdomScript;
  font-size: 30px;
  margin: 40px auto;
}

#flippable {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow: visible;
  background: transparent;
  margin: 0px;
}

.deck-holder {
  background: none;
  left: 0px;
  box-shadow: none;
  overflow: visible;
}

.deck-preview {
  width: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}
.deck-preview .deck-container {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: 90px;
  height: 90px;
}
.deck-preview .deck-container .deck {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.deck-preview .deck-container .deck .front {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-size: 100% !important;
}
.deck-preview .deck-container .deck .back {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-perspective: 800;
  -moz-perspective: 800;
  -ms-perspective: 800;
  -o-perspective: 800;
  perspective: 800;
  height: 380px;
  width: 380px;
  padding: 0px;
}
.deck-preview .selected {
  top: 0px;
  left: 0px;
  height: 380px;
  width: 380px;
}
.deck-preview .choose-deck {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(#ffffff, #dddddd);
  background: -moz-linear-gradient(#ffffff, #dddddd);
  background: -o-linear-gradient(#ffffff, #dddddd);
  background: linear-gradient(#ffffff, #dddddd);
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  width: 100px;
  color: #333;
  padding: 5px;
  display: block;
  text-align: center;
}
.deck-preview .choose-deck:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(#dddddd, #ffffff);
  background: -moz-linear-gradient(#dddddd, #ffffff);
  background: -o-linear-gradient(#dddddd, #ffffff);
  background: linear-gradient(#dddddd, #ffffff);
}
.deck-preview .chosen {
  left: -3px;
  top: -3px;
  border: 3px outset yellow;
}

#colorpicker {
  width: 195px;
  margin: 10px auto;
}

#template-preview {
  overflow: visible;
}

#flippable {
  -webkit-perspective: 700px;
  -moz-perspective: 700px;
  -ms-perspective: 700px;
  -o-perspective: 700px;
  perspective: 700px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
#flippable #box {
  overflow: visible;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#flippable #box section {
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
#flippable #box .side {
  height: 380px;
  width: 380px;
  position: absolute;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#flippable #box .top-side {
  width: 380px;
  height: 4px;
}
#flippable #box .side-side {
  width: 4px;
  height: 380px;
}
#flippable #box #front {
  -webkit-transform: translate3d(0px, 0px, 2px);
  -moz-transform: translate3d(0px, 0px, 2px);
  -ms-transform: translate3d(0px, 0px, 2px);
  -o-transform: translate3d(0px, 0px, 2px);
  transform: translate3d(0px, 0px, 2px);
}
#flippable #box #back {
  -webkit-transform: rotateY(180deg) translate3d(0px, 0px, 2px);
  -moz-transform: rotateY(180deg) translate3d(0px, 0px, 2px);
  -ms-transform: rotateY(180deg) translate3d(0px, 0px, 2px);
  -o-transform: rotateY(180deg) translate3d(0px, 0px, 2px);
  transform: rotateY(180deg) translate3d(0px, 0px, 2px);
}
#flippable #box #top {
  -webkit-transform: rotateX(90deg) translate3d(0px, 0px, 2px);
  -moz-transform: rotateX(90deg) translate3d(0px, 0px, 2px);
  -ms-transform: rotateX(90deg) translate3d(0px, 0px, 2px);
  -o-transform: rotateX(90deg) translate3d(0px, 0px, 2px);
  transform: rotateX(90deg) translate3d(0px, 0px, 2px);
}
#flippable #box #bottom {
  -webkit-transform: rotateX(-90deg) translate3d(0px, 0px, 378px);
  -moz-transform: rotateX(-90deg) translate3d(0px, 0px, 378px);
  -ms-transform: rotateX(-90deg) translate3d(0px, 0px, 378px);
  -o-transform: rotateX(-90deg) translate3d(0px, 0px, 378px);
  transform: rotateX(-90deg) translate3d(0px, 0px, 378px);
}
#flippable #box #left {
  -webkit-transform: rotateY(-90deg) translate3d(0px, 0px, 2px);
  -moz-transform: rotateY(-90deg) translate3d(0px, 0px, 2px);
  -ms-transform: rotateY(-90deg) translate3d(0px, 0px, 2px);
  -o-transform: rotateY(-90deg) translate3d(0px, 0px, 2px);
  transform: rotateY(-90deg) translate3d(0px, 0px, 2px);
}
#flippable #box #right {
  -webkit-transform: rotateY(90deg) translate3d(0px, 0px, 378px);
  -moz-transform: rotateY(90deg) translate3d(0px, 0px, 378px);
  -ms-transform: rotateY(90deg) translate3d(0px, 0px, 378px);
  -o-transform: rotateY(90deg) translate3d(0px, 0px, 378px);
  transform: rotateY(90deg) translate3d(0px, 0px, 378px);
}
