@import "nib";
@import "../common/common.styl"

#select-screen {
	ipad();
	background: url('/img/woodBg.jpg') center center no-repeat;


	.deck {
		width: 142px;
		height: 182px;
	}
}


#players-area {
	float: left;
}

.card-grid {
	float: right;
	width: 800px;
	height: 100%;
	background: rgba(white, .2);
}

.card {
	border-radius: 5px;
	border: 10px solid #FFF;
	width: 130px;
	height: 180px;
	float: left;
	background-position: center center;
	background-repeat: no-repeat;
	box-shadow: inset 1px 1px 1px rgba(#FFF, 0.4), 0 0 7px #333;
}