@import '../decks/main.styl';

#select-screen {
	ipad();
	background: url('/img/woodBg.jpg') center center no-repeat;


	.deck {
		width: 150px;
		height: 200px;
	}

	h1, #chosen {
		font: 40px/2em 'nuku';
		color: #B3895D;
		text-shadow: -1px -1px 0 rgba(black, .7);
	}

	.next, .prev {
		cursor: pointer;
		height: 43px;
		width: 25px;
		background-image: url('/img/arrows.png');
		background-position: 0px 0px;
		position: absolute;
		right: 20px;
		top: 290px;
		&:hover {
			background-position: 0px 43px;
		}
		&:active {
			background-position: 0px 0px;
		}
	}

	.next {
		background-position: 25px 0px;
		&:hover {
			background-position: 25px 43px;
		}
		&:active {
			background-position: 25px 0px;
		}
	}

	.selection-count {
		margin-top: 5px;
		margin-left: 5px;
	}

	#players-area {
		width: 186px;
		background: url('/app!common/textures/roughcloth.png');
	}

	.awning {
		position: static;
		width: 758px;
		float: left;
		box-shadow: 0 0 0;
	}

}


#players-area {
	float: left;
	padding: 20px;
	height: 100%;
	width: 216px;
	p {
		color: #222;
		text-shadow: 1px 1px 0 rgba(white, .5);
	}
	.deck {
		margin-bottom: 2px;
	}
}

#card-grid {
	float: left;
	width: 700px;
}

.card {
	border-radius: 5px;
	border: 10px solid #FFF;
	width: 130px;
	height: 180px;
	float: left;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: box-shadow .4s;
	box-shadow: 0 0 7px #333;
	cursor: pointer;
	&.select {
		box-shadow: 0 0 20px #FCEE21;
	}
	user-select: none;
}

.scene {
	position: absolute;
	height: 100%;
	width: 100%;
}

.user {
	width: 100%;
	height: 222px;
	position: relative;
	color: #FFF;
	font-family: Fresca;
	text-transform: uppercase;
	font-size: 28px;
	p {
		position: absolute;
	}
	.avatar-tmb {
		box-shadow: inset 0 0 10px #333;
		background: rgba(tomato, .5);
		size = 120px;		
		height: size;
		width: size;
		position: absolute;
	}
}

.user-1 {
	p {
		top: 130px;
	}
}

.user-2 {
	p {
		top: 55px;
	}
	.avatar-tmb {
		bottom: 12px;
	}


	.fill {
		position: absolute;
		bottom: 0;
	}
}

#max_cards {
	width: 300px;
	font: 20px/1.2em 'Fresca';
	p {
		padding: 20px;
		font: 20px/1.2em 'Fresca';
		text-align: center;
	}
}


.bar {
	height: 210px;
	width: 50px;
	background: white;
	float: right;
	box-shadow: inset 0 0 8px #333;
	position: relative;
	.fill {
		background: #3FA9F5;
		width: 100%;
		transition: height .4s;
	}
}