@import '../decks/client/mixins.styl';

/**
 * Select Screen
 */

#select-screen {
	height: 100%;
}

.tracker-container {
	float: left;
	width: 224px;
}

.tracker {
	background: url('/app!decks/img/tracker.png') center bottom no-repeat;
	height: 425px;
	width: 224px;
	margin-bottom: -35px;
	h4 {
		padding-top: 10px;
		text-align: center;
	}

	.problem-tracker {
		width: 96px;
		margin: 72px auto 0;
		height: 222px;
		transform: rotate(180deg);
		.little-scroll {
			opacity: .35;
			float: right;
			&.selected {
				opacity: 1;
			}
			.little-scroll-inner {
				background: rgba(darken(#CDC4AA, 30), 1);
				background-size: cover;
				box-shadow: 0 0 4px rgba(black, .6);
				position: relative;
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					background: url('/app!common/textures/roughcloth.png');
					box-shadow: inset 0 0 10px darken(#CDC4AA, 50);
					opacity: .5;
				}
			}
			&.correct, &.incorrect {
				opacity: 1;
				.little-scroll-inner {
					background: darken(#0071BC, 18);	
					box-shadow: 0 0 4px rgba(black, 1);
					&:after {
						opacity: .3;
					}	
				}
				
			}

			&.incorrect .little-scroll-inner { background: darken(red, 5);	 }	

			&.current { 
				opacity: 1;
				&:after {
					opacity: .5;
				}
			}
		}
	}
}

#scroll-select-view {
	float: left;
	width: 498px;
	padding: 0 16px;
	position: relative;
	height: 100%;
	background: url('/app!common/textures/handmadepaper.png');
	.scroll-select-inner {
		width: 100%;
		margin-left: -17px;
		padding: 0 17px;
		height: 100%;
		overflow-y: auto;
		woodSides();
		&:before, &:after {
			top: 0;
		}
	}

	.tome-title {
		padding-top: 20px;
		margin-bottom: -10px;
		text-align: center;
		color: black;
		text-shadow: 0 0 0;
	}
}

#scroll-select-table {
	width: 100%;
	border: 0;
	font: 20px 'BleakChop';
	text-transform: uppercase;
	text-shadow: 0 0 0;
	color: black;
	.scroll-select-info {
		cursor: pointer;
		clearfix();
		&:nth-child(even) {
				background: rgba(black, .2);				
		}
		&:hover {
				background: rgba(black, .35);
				text-shadow: -1px -1px 0 rgba(white, .3)
		}
		&:first-child:hover {
			cursor: default;
			background: none;
		}
		th {
			color: #555;
			font: 22px 'BleakChop';
			&.center {
				text-align: center;
			}
		}
		td, th {
			height: 40px;
			padding: 10px 6px;
		}

		.selection-counter {
			min-width: 18px;
			.selection-count, .subtract {
				margin: 0 auto;
				border-radius: 50%;
				height: 18px;
				width: 18px;
				background: blue;
				font: 16px/18px 'Fresca';
				text-align: center;
				color: white;
				text-shadow: 1px 1px 0 rgba(black, .5);
				box-shadow: inset 1px 1px 0 rgba(white, .5), inset -1px -1px 0 rgba(black, .5), 0 0 5px rgba(black, .5);
				&:hover {
					box-shadow: inset 1px 1px 0 rgba(white, .5), inset -1px -1px 0 rgba(black, .5), 0 0 7px rgba(black, .7);
				}
				&:active {
					box-shadow: inset 1px 1px 0 rgba(white, .5), inset -1px -1px 0 rgba(black, .5), 0 0 5px rgba(black, .5);
				}
			}
			.subtract {
				background: red;
				margin-top: 4px;
				font-size: 20px;
			}
		}
	}
	
	.stats-box > div {
		width: 80px;
		margin: 0 auto;
	}

	.scroll-stat {
		float: left;
		width: 20px;
		height: 40px;
		margin-right: 10px;
		position: relative;
		background: #EEE;
		box-shadow: inset 0 0 6px #222;
		outline: 1px solid #999;
		&:last-child {
			margin-right: 0;
		}
		.scroll-stat-inner {
			position: absolute;
			bottom: 0;
			width: 100%;
			&:after {
				position: absolute;
				content: '';
				height: 100%;
				width: 6px;
				right: 0;
				background: rgba(white, .1);
			}
		}
	}
}

.quit-button, .randomize-button, .play-button {
	red-button();
	margin: 0 auto;
}

/**
 * Play Screen
 */


#problem-container {
	background: url("/app!decks/img/playground.png") 0 20px no-repeat;
	height: 534px;
	width: 548px;
	margin: 10px -8px 0;
	float: left;
	position: relative;
}

#problem {
	// height: 425px;
	top: 50%;
	left: 50%
	margin-left: -244px;
	position: absolute;
	width: 488px;
	font: 25px/1.2em  'BleakChop';
	text-align: center;
}

#answer {
	text-input();
	box-shadow: inset 0 0 6px rgba(black, 1);
	border: 1px solid rgba(#FFF, .4);
	&:focus {
		box-shadow: inset 0 0 5px rgba(black, .8);
	}
}

.game-info {
	clearfix();
	// height: 30px;
	background: rgba(blue, .5);
	padding: 5px 0;
}

#game-points {
	float: left;
	font: 23px/20px 'BleakChop';
	color: #FFF;
	text-shadow: 1px 1px 0 rgba(black, .5);
}

.timer {
	position: absolute;
	left: -100px;;
}
#speed-bar {
	height: 20px;
	width: 120px;
	margin: 0 auto;
	background: #EEE;
	// box-shadow: inset 0 0 6px #222;
	.inner-speed-bar {
		height: 20px;
		background-color: blue;
	}
}

#multiplier {
	position: absolute;
	font: 17px/25px 'BleakChop';
	color: #FFF;
	text-align: center;
}

#bonus {
	position: absolute;
	bottom: 20px;
	z-index: 999;
	width: 548px;
	height: 100px;
	font: 0px/50px 'BleakChop';
	text-align: center;
	text-shadow: 5px 5px 0px #454545;
	margin: 0 0 100px 0;
	&.critical {
		color = lighten(#F38309, 10);
		-webkit-text-stroke: 2px darken(color, 20);
		color: color;
	}
	&.spree {
		color = #3FA9F5;
		-webkit-text-stroke: 2px darken(color, 20);
		color: color;
	}
	&.error {
		color = gold;
		-webkit-text-stroke: 2px darken(color, 20);
		color: color;
		&:before {
			color = red;
			-webkit-text-stroke: 2px darken(color, 20);
			color: color;
			size = 70px;
			height: size;
			width: size;
			line-height: size;
			text-align: center;
			border-radius: 50%;
			border: 10px solid red;
			box-shadow: 0px 3px 0 darken(color, 20), 3px 0px 0 darken(color, 20), 0px -3px 0 darken(color, 20), -3px 0px 0 darken(color, 20), 5px 5px 0px #454545;
			content: 'x';
			display: inline-block;
		}
	}
	// &.solution {
	// 	color = gold;
	// 	-webkit-text-stroke: 2px darken(color, 20);
	// 	color: color;
	// }		
}