@import '../decks/client/mixins.styl';

/**
 * Select Screen
 */

#select-screen {
	height: 100%;
}

.tracker-container {
	float: left;
	width: 224px;
}

.tracker {
	background: url('/app!decks/img/tracker.png') center bottom no-repeat;
	height: 425px;
	width: 224px;
	margin-bottom: -35px;
	h4 {
		padding-top: 10px;
		text-align: center;
		width: 197px;
		height: 1em;
		overflow: ellipsis;
		padding-left: 17px;
	}

	.problem-tracker {
		width: 96px;
		margin: 72px auto 0;
		height: 222px;
		transform: rotate(180deg);
		.little-scroll {
			opacity: .35;
			float: right;
			&.selected {
				opacity: 1;
			}
			.little-scroll-inner {
				background: rgba(darken(#CDC4AA, 30), 1);
				background-size: cover;
				box-shadow: 0 0 4px rgba(black, .6);
				position: relative;
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					background: url('/app!common/textures/roughcloth.png');
					box-shadow: inset 0 0 10px darken(#CDC4AA, 50);
					opacity: .5;
				}
			}
			&.correct, &.incorrect {
				opacity: 1;
				.little-scroll-inner {
					background: darken(#0071BC, 18);	
					box-shadow: 0 0 4px rgba(black, 1);
					&:after {
						opacity: .3;
					}	
				}
				
			}

			&.incorrect .little-scroll-inner { background: darken(red, 5);	 }	

			&.current { 
				opacity: 1;
				&:after {
					opacity: .5;
				}
			}
		}
	}
}

#scroll-select-view {
	float: left;
	width: 498px;
	padding: 0 16px;
	position: relative;
	height: 100%;
	background: url('/app!common/textures/handmadepaper.png');
	.scroll-select-inner {
		width: 100%;
		margin-left: -17px;
		padding: 0 17px;
		height: 100%;
		overflow-y: auto;
		woodSides();
		&:before, &:after {
			top: 0;
		}
	}

	.tome-title {
		padding-top: 20px;
		margin-bottom: -10px;
		text-align: center;
		color: black;
		text-shadow: 0 0 0;
	}
}

#scroll-select-table {
	width: 100%;
	border: 0;
	font: 20px 'BleakChop';
	text-transform: uppercase;
	text-shadow: 0 0 0;
	color: black;
	.scroll-select-info {
		cursor: pointer;
		clearfix();
		table-rows()
		&:hover {
				background: rgba(black, .35);
				// text-shadow: -1px -1px 0 rgba(white, .3)
		}
		&:first-child {
			cursor: default;
			background: transparent;
		}
		td, th {
			height: 40px;
			padding: 10px 6px;
		}
		th {
			color: #555;
			font: 22px 'BleakChop';
			position: relative;
			padding-bottom: 20px;
			&.center {
				text-align: center;
			}
		}

		.selection-counter {
			min-width: 18px;
			.selection-count, .subtract {
				margin: 0 auto;
				border-radius: 50%;
				height: 18px;
				width: 18px;
				background: blue;
				font: 16px/18px 'Fresca';
				text-align: center;
				color: white;
				text-shadow: 1px 1px 0 rgba(black, .5);
				box-shadow: inset 1px 1px 0 rgba(white, .5), inset -1px -1px 0 rgba(black, .5), 0 0 5px rgba(black, .5);
				&:hover {
					box-shadow: inset 1px 1px 0 rgba(white, .5), inset -1px -1px 0 rgba(black, .5), 0 0 7px rgba(black, .7);
				}
				&:active {
					box-shadow: inset 1px 1px 0 rgba(white, .5), inset -1px -1px 0 rgba(black, .5), 0 0 5px rgba(black, .5);
				}
			}
			.subtract {
				background: red;
				margin-top: 4px;
				font-size: 20px;
			}
		}
	}
	
	.stats-box > div {
		width: 80px;
		margin: 0 auto;
	}

	.stat-icons {
		background: url('/img/stat-icons.png');
		width: 85px;
		height: 25px;
		position: absolute;
		left: 50%;
		margin-left: -42px;
		bottom: 3px;
	}

	.scroll-stat {
		float: left;
		width: 20px;
		height: 40px;
		margin-right: 10px;
		position: relative;
		background: #EEE;
		box-shadow: inset 0 0 6px #222;
		outline: 1px solid #999;
		&:last-child {
			margin-right: 0;
		}
		.scroll-stat-inner {
			position: absolute;
			bottom: 0;
			width: 100%;
			&:after {
				position: absolute;
				content: '';
				height: 100%;
				width: 6px;
				right: 0;
				background: rgba(white, .1);
			}
		}
	}
}

.quit-button {
	wood-button();
	margin: 30px 0 0 65px;
}

.randomize-button, .play-button {
	red-button();
	margin: 0 auto;
}

/**
 * Play Screen
 */


#problem-container {
	background: url("/app!decks/img/playground.png") 0 60px no-repeat;
	height: 574px;
	width: 548px;
	margin: 10px -8px 0;
	float: left;
	position: relative;

	.draggable {
		cursor: pointer;
	}

	#continue-button {
		position: absolute;
		red-button();
		font-size: 33px;
		bottom: 110px;
		right: -190px;
		&:active {
			bottom: 111px;
			right: -190px;
		}
	}
}

#problem {
	// height: 425px;
	top: 50%;
	left: 50%
	margin-left: -244px;
	position: absolute;
	width: 488px;
	font: 25px/1.2em  'BleakChop';
	text-align: center;
}

.answer {
	text-input();
	width: auto;
	box-shadow: inset 0 0 6px rgba(black, 1);
	border: 1px solid rgba(#FFF, .4);
	&:focus {
		box-shadow: inset 0 0 5px rgba(black, .8);
	}
}

.game-info {
	clearfix();
	// height: 30px;
	padding: 5px 15px 0;
	position: relative;
}

#game-points {
	position: absolute;
	left: 15px;
	font: 44px/60px 'BleakChop';
	color = white;
	color: gold;
	// -webkit-text-stroke: 3px #333;
	text-shadow: 2px 2px 0 rgba(black, .8);
}

.timer {
	position: absolute;
	left: -100px;;
}
#speed-bar {
	height: 40px;
	// width = 380px;
	// float: right;
	width = 252px;
	width: width;
	margin: 6px auto 0;
	background-image: url('/app!common/textures/handmadepaper.png');
	border: 6px solid black;
	box-shadow: inset 1px 1px 6px #222;
	box-shadow: inset 1px 1px 6px #222, 0px 0px 2px rgba(white, .2), 1px 1px 2px rgba(white, .2);
	position: relative;
	.inner-speed-bar {
		height: 100%;
		background-color: rgba(red, 1);
		position: relative;
		box-shadow: 0 0 10px rgba(black, .8);

		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 10px;
			top: 0;
			background: rgba(white, .14);
		}
	}

	.div {	
		box-width =  (width / 4);
		border-width = 6px;
		border-left: border-width solid black;
		width: 60px;
		position: absolute;
		height: 100%;
		top: 0px;
		&:nth-child(2) { left: box-width - (border-width / 2); }
		&:nth-child(3) { left: (box-width * 2) - (border-width / 2); }
		&:nth-child(4) { left: (box-width * 3) - (border-width / 2); }
	}

	.mult-block {
		position: absolute;
		height: 50px;
		width: 27%;
		border: 6px solid black;
		top: -11px;
		background: url("/app!common/textures/handmadepaper.png") 1px 0 no-repeat;
		transition: transform .3s;
		transform: scale(0);
		overflow: hidden;
		.mult-image {
			height: 80px;
			width: 150px;
			position: fixed;
			background-image: url("/img/multi-numbers.png");
			top: -14px;
			left: -44px;
		}
		// &.first {
		// 	left: 52px;
		// }
		// &.second {
		// 	left: 119px;
		// 	.inner-speed-bar { background-color: blue; }
		// 	.mult-image {
		// 		width: 132px;
		// 		left: -27px;
		// 		background-position: 220px 0px;
		// 	}
		// }
	// 	&.third {
	// 		left: 183px;
	// 		.inner-speed-bar { background-color: #8DC63F; }
	// 		.mult-image {
	// 			width: 100px;
	// 			left: -12px;
	// 			background-position: 92px 0px;
	// 		}
	// 	}
	}
	&.first-mult {
		.mult-block { 
			.inner-speed-bar { background-color: red; }
			left: 52px;
			transform: scale(1);
			.inner-speed-bar {
				left: -58px;
			}
		}
	}
	&.second-mult {
		.inner-speed-bar { background-color: blue; }
		.mult-block { 
			left: 119px;
			transform: scale(1);
			.inner-speed-bar {
				background-color: blue;
				left: -125px;
			}
			.mult-image {
				width: 132px;
				left: -27px;
				background-position: 220px 0px;
			}
		}
	}
	&.third-mult {
		.inner-speed-bar { background-color: #8DC63F; }
		.mult-block { 
			transform: scale(1); 
			left: 183px;
			.inner-speed-bar { 
				// width: 257px;
				left: -185px;
				background-color: #8DC63F; 
			}
			.mult-image {
				width: 100px;
				left: -12px;
				background-position: 92px 0px;
			}
		}
	}
}

#multiplier {
	// height: 30px;\
	width: 300px;
	margin: 0 auto 5px;
	background: rgba(white, .08);
	box-shadow: inset 1px 1px 6px #222, 0px 0px 2px rgba(white, .2), 1px 1px 2px rgba(white, .2);
	overflow: hidden;
	font: 30px/31px 'BleakChop';
	color: #FFF;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(black, .5);
	display: none;
}

#bonus {
	position: absolute;
	bottom: 20px;
	z-index: 999;
	width: 548px;
	height: 100px;
	font: 0px/50px 'BleakChop';
	text-align: center;
	text-shadow: 5px 5px 0px #454545;
	margin: 0 0 100px 0;
	&.critical {
		color = lighten(#F38309, 10);
		-webkit-text-stroke: 2px darken(color, 20);
		color: color;
	}
	&.spree {
		color = #3FA9F5;
		-webkit-text-stroke: 2px darken(color, 20);
		color: color;
	}
	&.error {
		color = gold;
		-webkit-text-stroke: 2px darken(color, 20);
		color: color;
		&:before {
			color = red;
			-webkit-text-stroke: 2px darken(color, 20);
			color: color;
			size = 70px;
			height: size;
			width: size;
			line-height: size;
			text-align: center;
			border-radius: 50%;
			border: 10px solid red;
			box-shadow: 0px 3px 0 darken(color, 20), 3px 0px 0 darken(color, 20), 0px -3px 0 darken(color, 20), -3px 0px 0 darken(color, 20), 5px 5px 0px #454545;
			content: 'x';
			display: inline-block;
		}
	}
	// &.solution {
	// 	color = gold;
	// 	-webkit-text-stroke: 2px darken(color, 20);
	// 	color: color;
	// }		
}